@import '../../../common/scss/normalize';
@import '../../../common/scss/utility';
@import '../../../common/scss/base';
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: 'Noto Sans Japanese';
}

//overload 
#wrapper {
	width: 100%!important;
}

#main-without-leftnav {
	width: 100%!important;
	margin: 0 auto;

}

.top-menu {

	background: rgba(255, 255, 255, 0.90);
	box-shadow: 1px 2px rgba(0,0,0,0.1);
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	ul {
		display: block;
		margin: 0 auto;
		max-width: 1040px;
	}


	li {
		display: inline-block;
		height: 3em;
		line-height: 2.9;
	}

	a {
		color:rgba(0, 122, 255, 1);
	}

}


.textbox {
	font-size: 1.5em;
	font-weight: 200;
	line-height: 2;
	margin: 0 auto;

	span {
		font-size: 2em;
		font-weight: 100;
	}

	a {
		color:rgba(0, 122, 255, 1);
	}

}

.imagebox {

	// opacity: 0;

	a {
		display: block;
		position: relative;
		top: -2em;
		right: 1em;
		color:rgba(0, 122, 255, 1);
	}
	

}

.itemsouter {

	a {
		color:rgba(0, 122, 255, 1);
	}

	padding-top: 5em;

	p {
		font-size: 1.8em;
		// background: #f7f8f7;
		font-weight:200;
		clear: both;
		margin-bottom: 10px;
		}
}

#goToTop {
	width: 70px;
	height: 70px;
	position: fixed;
	right: 10px;
	bottom: 10px;
}
@media (max-width: 768px) {

}

@media (min-width:769px){
	

}