div.headerCategoryList#categoryContent(style="display:none")
	ul.headerCategoryList__menu.col-sm-3
		li#js-menu-tops
			.tab__inbox
				p
					| トップス
					span TOPS
			i.fa.fa-angle-right
		li#js-menu-outer
			.tab__inbox
				p
					| アウター
					span OUTER
			i.fa.fa-angle-right
		li#js-menu-bottoms
			.tab__inbox
				p
					| ボトムス
					span BOTTOMS
			i.fa.fa-angle-right
		li#js-menu-accessories
			.tab__inbox
				p
					| アクセサリー
					span ACCESORIES
			i.fa.fa-angle-right
		li#js-menu-others
			.tab__inbox
				p
					| その他
					span OHTER
			i.fa.fa-angle-right


	div.tab__contents.col-sm-9
				div.tab__content#js-content-tops
					ul
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000640/')
								| 半袖Tシャツ
								span Short Sleeve T-Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000641/')
								| 長袖Tシャツ
								span Long Sleeve T-Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000642/')
								| 半端袖シャツ
								span Middle Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000643/')
								| ポロシャツ
								span Polo Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002455/')
								| アロハシャツ
								span Aloha Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002454/')
								| 半袖シャツ
								span Short Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002453/')
								| 長袖シャツ
								span Long Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000647/')
								| タンクトップ
								span Tank top
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002225/')
								| ベスト
								span Vest
								.fa.fa-angle-right
				.tab__content#js-content-outer
					ul
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000648/')
								| スカジャン
								span Souvenir Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002456/')
								| カーディガン
								span Cardigan
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002580/')
								| セーター
								span Serater
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002459/')
								| パーカー
								span Hoodie
								.fa.fa-angle-right
						li
							a(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E3%83%91%E3%83%BC%E3%82%AB%E3%83%BC%E3%80%80%E5%8D%8A%E8%A2%96&st=A&nitem=&min=&max=')
								| 半袖パーカー
								span Short Sleave Hoodie
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000649/')
								| トレーナー(スウェット)
								span Sweat
								.fa.fa-angle-right
						li
							a(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E3%82%B8%E3%83%83%E3%83%97%E3%82%A2%E3%83%83%E3%83%97&st=A&nitem=&min=&max=')
								| ジップアップ
								span Zip-up Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000655/')
								| スタジャン
								span Award Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E3%82%B8%E3%83%A3%E3%82%B1%E3%83%83%E3%83%88&st=A&nitem=&min=&max=')
								| ジャケット
								span Jacket
								.fa.fa-angle-right
					ul
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000650/')
								| ジャージ
								span Track Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall/%E3%83%80%E3%82%A6%E3%83%B3/-/sid.235529-st.A')
								| ダウン
								span Down Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000657/')
								| ミリタリージャケット
								span Military Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000658/')
								| レザー
								span Riders Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000659/')
								| デニムジャケット
								span Denim Jacket
								.fa.fa-angle-right
				.tab__content#js-content-bottoms
					ul
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002339/')
								| ジーンズ
								span Jeans
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002422/')
								| ノンウォッシュジーンズ
								span Non-wash Jeans
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000637/')
								| イージーパンツ
								span Easy Pants
								.fa.fa-angle-right
						li
							a(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall/%E3%83%87%E3%83%8B%E3%83%A0%E3%80%80%E3%83%8F%E3%83%BC%E3%83%95/-/sid.235529-st.A')
								| デニムハーフパンツ
								span Denimn Short Pants
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000638/')
								| ハーフパンツ
								span Harf Pants
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411347/460095/list.html')
								| カーゴパンツ
								span Cargo Pants
								.fa.fa-angle-right
						li
							a(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E3%83%AF%E3%83%BC%E3%82%AF%E3%83%91%E3%83%B3%E3%83%84&st=A&nitem=&min=&max=')
								| ワークパンツ
								span Work Pants
								.fa.fa-angle-right
				.tab__content#js-content-accessories
					ul
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000660/')
								| 帽子
								span Cap
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002529/')
								| キーケース
								span Key Case
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002514/')
								| 手袋
								span Glob
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002259/')
								| アイウェア
								span Eye Wear
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001686/')
								| ネックウォーマー
								span Neck Warmers
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002016/')
								| 時計
								span Watch
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000661/')
								| バッグ
								span Bag
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000662/')
								| ベルト
								span Belt
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000663/')
								| アクセサリー
								span Accesories
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000665/')
								| ボクサーパンツ
								span Underwear
								.fa.fa-angle-right
					ul
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000664/')
								| サンダル
								span Sandals
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001660/')
								| 靴
								span Shoes
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001796/')
								| 財布
								span Wallet
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001686/')
								| マフラー
								span Scarf
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001939/')
								| ジッポー
								span Zippo
								.fa.fa-angle-right
				.tab__content#js-content-others
					ul
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002574/')
								| 扇子
								span Sensu
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002515/')
								| タオル
								span Towel
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001883/')
								| つなぎ
								span Coverall
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002528/')
								| ステッカー
								span Sticker
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002535/')
								| タペストリー
								span Tapestry
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002513/')
								| フィギュア
								span Toys & Figures
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002530/')
								| サポーター
								span Arm Sleeves
								.fa.fa-angle-right
						li
							a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000663/')
								| アクセサリー
								span Accesories
								.fa.fa-angle-right


