.section0.text-center
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002669/')
				img( src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-22.jpg', style='display: inline;')
				p.mb-ss ONE PIECE 商品一覧
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002670/')
				img(src='http://shopping.c.yimg.jp/lib/rodeobros/onepiece_cate_1.jpg', style='display: inline;')
				p.mb-ss ONE PIECE アウター一覧

			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002671/')
				img(src='http://shopping.c.yimg.jp/lib/rodeobros/onepiece_cate_3.jpg', style='display: inline;')
				p.mb-ss ONE PIECE トップス

			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002672/')
				img(src='http://shopping.c.yimg.jp/lib/rodeobros/onepiece_cate_2.jpg', style='display: inline;')
				p.mb-ss ONE PIECE ボトムス一覧
