.section0.text-center
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002557/')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/07.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/07.jpg', style='display: inline;')
				p.mb-ss THE FLAT HEAD 商品一覧
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002559/')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/flathead/01.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/flathead/01.jpg', style='display: inline;')
				p.mb-ss THE FLAT HEAD トップス一覧
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002558/')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/flathead/03.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/flathead/03.jpg', style='display: inline;')
				p.mb-ss THE FLAT HEAD ボトムス一覧
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002561/')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/flathead/05.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/flathead/05.jpg', style='display: inline;')
				p.mb-ss THE FLAT HEAD アクセサリ一覧

