div.headerCategoryList#categoryContent(style="display:none")
	ul.headerCategoryList__menu.col-sm-3
		li#js-menu-tops
			.tab__inbox
				p
					| トップス
					span TOPS
			i.fa.fa-angle-right
		li#js-menu-outer
			.tab__inbox
				p
					| アウター
					span OUTER
			i.fa.fa-angle-right
		li#js-menu-bottoms
			.tab__inbox
				p
					| ボトムス
					span BOTTOMS
			i.fa.fa-angle-right
		li#js-menu-accessories
			.tab__inbox
				p
					| アクセサリー
					span ACCESORIES
			i.fa.fa-angle-right
		li#js-menu-others
			.tab__inbox
				p
					| その他
					span OHTER
			i.fa.fa-angle-right

	div.tab__contents.col-sm-9
			.tab__contents
				div.tab__content#js-content-tops
					ul
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411535/list.html')
								| 半袖Tシャツ
								span Short Sleeve T-Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411745/list.html')
								| 長袖Tシャツ
								span Long Sleeve T-Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411752/list.html')
								| 半端袖シャツ
								span Middle Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411803/list.html')
								| ポロシャツ
								span Polo Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411804/list.html')
								| アロハシャツ
								span Aloha Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411535/list.html')
								| 半袖シャツ
								span Short Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411838/list.html')
								| 長袖シャツ
								span Long Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411842/list.html')
								| タンクトップ
								span Tank top
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411534/778256/list.html')
								| ベスト
								span Vest
								.fa.fa-angle-right
				.tab__content#js-content-outer
					ul
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411845/list.html')
								| スカジャン
								span Souvenir Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AB%E3%83%BC%E3%83%87%E3%82%A3%E3%82%AC%E3%83%B3')
								| カーディガン
								span Cardigan
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%BB%E3%83%BC%E3%82%BF%E3%83%BC')
								| セーター
								span Serater
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411849/list.html')
								| パーカー
								span Hoodie
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/558249/list.html')
								| 半袖パーカー
								span Short Sleave Hoodie
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411866/list.html')
								| トレーナー(スウェット)
								span Sweat
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411867/list.html')
								| ジップアップ
								span Zip-up Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411884/list.html')
								| スタジャン
								span Award Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411897/list.html')
								| ジャケット
								span Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411887/list.html')
								| ジャージ
								span Track Jacket
								.fa.fa-angle-right
					ul
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411887/list.html')
								| ダウン
								span Down Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411896/list.html')
								| ミリタリージャケット
								span Military Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411903/list.html')
								| レザー
								span Riders Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411905/list.html')
								| デニムジャケット
								span Denim Jacket
								.fa.fa-angle-right
				.tab__content#js-content-bottoms
					ul
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411347/411349/list.html')
								| ジーンズ
								span Jeans
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411347/966797/list.html')
								| ノンウォッシュジーンズ
								span Non-wash Jeans
								.fa.fa-angle-right
						li
							a(target='_top', href='http://aun-wa.com/SHOP/411347/411494/list.html')
								| イージーパンツ
								span Easy Pants
								.fa.fa-angle-right
						li
							a(target='_top', href='http://aun-wa.com/SHOP/411347/411500/list.html')
								| デニムハーフパンツ
								span Denimn Short Pants
								.fa.fa-angle-right
						li
							a(target='_top', href='http://aun-wa.com/SHOP/411347/411501/list.html')
								| ハーフパンツ
								span Harf Pants
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411347/460095/list.html')
								| カーゴパンツ
								span Cargo Pants
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411347/697023/list.html')
								| ワークパンツ
								span Work Pants
								.fa.fa-angle-right
				.tab__content#js-content-accessories
					ul
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411913/list.html')
								| 帽子
								span Cap
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AD%E3%83%BC%E3%82%B1%E3%83%BC%E3%82%B9')
								| キーケース
								span Key Case
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%96')
								| 手袋
								span Glob
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%A2%E3%82%A4%E3%82%A6%E3%82%A7%E3%82%A2')
								| アイウェア
								span Eye Wear
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%8D%E3%83%83%E3%82%AF%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%9E%E3%83%BC')
								| ネックウォーマー
								span Neck Warmers
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%A6%E3%82%A9%E3%83%83%E3%83%81')
								| 時計
								span Watch
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411917/list.html')
								| バッグ
								span Bag
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411923/list.html')
								| ベルト
								span Belt
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411924/list.html')
								| アクセサリー
								span Accesories
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/412140/list.html')
								| アンダーウェア
								span Underwear
								.fa.fa-angle-right
					ul
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411926/list.html')
								| サンダル
								span Sandals
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/412146/list.html')
								| 靴(スニーカー)
								span Shoes
								.fa.fa-angle-right
						li
							a(target='_top', href='http://aun-wa.com/SHOP/411912/443430/list.html')
								| 財布
								span Wallet
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/416896/list.html')
								| マフラー
								span Scarf
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/546367/list.html')
								| ジッポー
								span Zippo
								.fa.fa-angle-right
				.tab__content#js-content-others
					ul
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E6%89%87%E5%AD%90')
								| 扇子
								span Sensu
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%BF%E3%82%AA%E3%83%AB')
								| タオル
								span Towel
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%84%E3%83%8A%E3%82%AE')
								| つなぎ
								span Coverall
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%B9%E3%83%86%E3%83%83%E3%82%AB%E3%83%BC')
								| ステッカー
								span Sticker
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%BF%E3%83%9A%E3%82%B9%E3%83%88%E3%83%AA%E3%83%BC')
								| タペストリー
								span Tapestry
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%95%E3%82%A3%E3%82%AE%E3%83%A5%E3%82%A2')
								| フィギュア
								span Toys & Figures
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%B5%E3%83%9D%E3%83%BC%E3%82%BF%E3%83%BC')
								| サポーター
								span Arm Sleeves
								.fa.fa-angle-right
						li
							a(target='_top', href='http://www.aun-wa.com/SHOP/411912/list.html')
								| アクセサリー
								span Accesories
								.fa.fa-angle-right

