extends ../jade/_template.jade
block meta
	meta(charset="UTF-8")
	meta(name="description",content="サイトの説明です")
	meta(name="keywords",content="サイトのキーワードです,キーワード2,キーワード3")
	meta(http-equiv="imagetoolbar",content="no")
block title
	title NEWS 鎧のような丈夫な日本製品を世界に発信
block content
	h1 NEWS | 鎧のような丈夫な日本製品を世界に発信