.selectedBrands
			h2.sectionTitle SELECTED BRANDS
			ul.items.row
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002523/', title='ALPHA')
								img.lazy(src="./top/img/load1000x1000.gif" alt='ALPHA', title='ALPHA', data-original='./top/img/01.jpg')
							figcaption
								h3 ALPHA
								p 1959年創業のミリタリーブランドALPHA


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001317/', title='IRON HEART')
								img.lazy(src="./top/img/load1000x1000.gif" alt='IRON HEART', title='IRON HEART', data-original='./top/img/05.jpg')
							figcaption
								h3 IRON HEART
								p バイク乗りによるバイク乗りのためのブランド


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002220/', title='ONI DENIM')
								img.lazy(src="./top/img/load1000x1000.gif" alt='ONI DENIM', title='ONI DENIM', data-original='./top/img/06.jpg')
							figcaption
								h3 ONI DENIM
								p たった一人の老職人による傑作ブランド


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002557/', title='THE FLAT HEAD')
								img.lazy(src="./top/img/load1000x1000.gif" alt='THE FLAT HEAD', title='THE FLAT HEAD', data-original='./top/img/07.jpg')
							figcaption
								h3 THE FLAT HEAD
								p 古き良き時代のアメリカンテイストと現代性の融合


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002482/', title='DISNEY')
								img.lazy(src="./top/img/load1000x1000.gif" alt='DISNEY', title='DISNEY', data-original='./top/img/03.jpg')
							figcaption
								h3 DISNEY
								p 世界中の人々を魅了する「Disney」とのコラボ


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001347/', title='TOYO ENTERPRISE')
								img.lazy(src="./top/img/load1000x1000.gif" alt='TOYO ENTERPRISE', title='TOYO ENTERPRISE', data-original='./top/img/02.jpg')
							figcaption
								h3 TOYO ENTERPRISE
								p 世界唯一といえる日本オリジナルの「洋服」を創る


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001349/', title='BUZZ RICKSON')
								img.lazy(src="./top/img/load1000x1000.gif" alt='BUZZ RICKSONS', title='BUZZ RICKSONS', data-original='./top/img/12.jpg')
							figcaption
								h3 BUZZ RICKSON'S
								p ヴィンテージを徹底的に研究し、真のレプリカを製造


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001351/', title='SUGAR CANE')
								img.lazy(src="./top/img/load1000x1000.gif" alt='SUGAR CANE', title='SUGAR CANE', data-original='./top/img/11.jpg')
							figcaption
								h3 SUGAR CANE
								p 日本に誕生した初めての米軍向け衣料メーカー


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001803/', title='VANSON')
								img.lazy(src="./top/img/load1000x1000.gif" alt='VANSON', title='VANSON', data-original='./top/img/09.jpg')
							figcaption
								h3 VANSON
								p 最高品質のレザーウエアを追求し続ける


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000000618/', title='EFU CO., INC')
								img.lazy(src="./top/img/load1000x1000.gif" alt='EFU CO., INC', title='EFU CO., INC', data-original='./top/img/08.jpg')
							figcaption
								h3 EFU CO., INC
								p 日本男児の美意識を目覚めさせる「和米カジ」


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002522/', title='MISTER FREEDOM')
								img.lazy(src="./top/img/load1000x1000.gif" alt='MISTER FREEDOM', title='MISTER FREEDOM', data-original='./top/img/13.jpg')
							figcaption
								h3 MISTER FREEDOM
								p 劇中の登場人物が着用する洋服をイメージしてコレクションを創りあげる


				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002355/', title='CROWS WORST')
								img.lazy(src="./top/img/load1000x1000.gif" alt='クローズワーストコラボアイテム', title='クローズ　ワースト', data-original='./top/img/04.jpg')
							figcaption
								h3 CROWS WORST
								p 高橋ヒロシ先生の描くコミックを具現化


			.text-center
				a(href='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist1/')
					button.morebtn.btn.btn-default ブランド一覧へ
