script.

	var theNumerOfNewArrivals = 16; //新着商品の数！！

	new Vue({
		el: '#Vue__NewArrival',
		data: {
		NEWARRIVAL: []
	},
	created: function() {
		var _this = this;
		//get json file
		$.ajax({
			//async:false,//同期処理にする。
			url: './data/new-arrival.json', //index.jadeに対してのURL
			dataType: 'json'
		}).done(function(data) {
			var temp = [];
			data.forEach(function (el) {
			el.number = "http://item.rakuten.co.jp/rodeo-2nd/" + el.number + "/"
			el.image = "http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/" + el.image + "-0.jpg?_ex=260x260";
			temp.push(el);
		});

			_this.NEWARRIVAL = temp.slice(0,theNumerOfNewArrivals);

		});
		}
	});