doctype html
html
	include ../../common/jade/head/_head-r.jade
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	body
		//include jade/javascript/_javascript.jade
		//必要があればvendor内のスクリプトも追加
		//script(src="./js/some-function.js")
		
		//Goolge Tag から
		include ../../common/jade/_google.jade
		
		//headerここから
		div.hidden-sp
			include ./jade/_header.jade
			include ./jade/_category.jade
			include ./jade/_brand.jade
			include ./jade/_topic.jade
			//include ./jade/_info.jade
		div.hidden-pc
			include ./jade/_sp.jade
		//javascript
		include ./jade/_script.jade
		