@import '../../../common/scss/normalize';
@import '../../../common/scss/utility';
@import '../../../common/scss/base.scss';

body {
	width: 100%;

}

html {
	margin:0;
}

//ヘッダー１段目
.headerTop {

	div {
		background: #000;
		color: #fff;
		display: block;
		height: 40px;
		line-height: 3.3;
	}

	a {
		color:#fff;

	}
}

//ヘッダー2段目
.headerLogo {
	clear: both;
	padding: 30px 0;

	img {
		width: 240px;
		cursor: pointer;
	}

}

//ヘッダー３段目
.headerMenu {
		width: 100%;
		height: 54px;
		border-top: solid 1px #cdcdcd;
		border-bottom: solid 1px #cdcdcd;
		background: url(http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-nav-bg.jpg) repeat-x bottom/contain;

		ul {
			width: 100%;
			margin:0 auto;
			max-width: 1240px;
		}
		li {
			line-height: 3.8;
			padding: 4px 0;
			cursor: pointer;

			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
				transition: all 0.3s;
			}

			&:last-child:hover {
				background: url(http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-nav-bg.jpg) repeat-x bottom/contain;
			}
		}

		a {
			color:#000;
			text-decoration: none;


			&:hover {
				text-decoration: none;
			}
		}

		.right-border {
			border-right: 1px solid #cdcdcd;

		}

		.no-right-border {

		}

		//検索窓
		form {

		}

		.input-group {
			margin-left: 20px;
			margin-top: 8px;

		}

		input {
			border-radius: 0;
			height: 30px;
		}

		button {
			border-radius: 0;
			height: 30px;
			;line-height: 1;
		}


}


//ヘッダー４段目（切りかえ）

#categoryContent {
	display: none;
}

#brandContent {
	display: none;
}

#topicContent {
	display: block;
}

//カテゴリーここから
.headerCategoryList {
	clear: both;
	width: 100%;
	max-width: 1240px;
	height: 330px;
	overflow: hidden;
	margin: 0 auto;
}
.headerCategoryList__menu {
	background: #f7f8f7;
	padding: 0;

	li {
		border-bottom: 1px solid #cdcdcd;
		height: 66px;
		cursor: pointer;

		&:last-child {
			border: none;
		}
	}

	.tab__inbox {
		margin-top: 15px;
		text-align: center;
		float: left;
		width: 95%;
		span {
			display: block;
			width: 100%;
			color:gray;
		}
	}

	i {
		margin-top: 30px;
		float: left;
		width: 5%;
	}

}

.tab__contents {

	height: 330px;

	ul {
		width: 31%;
		margin-right: 2%;
		//background: #ddd;
		padding-left: 0;
		margin-top: 10px;
		float: left;
	}

	li {
		border-bottom:1px solid #cdcdcd;
		height: 30px;
		line-height: 2.25;
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:last-child {
			border: none;
		}

		&:hover{
			background: rgba(0,0,0,0.1);
		}

		span {
			color:gray;
			margin-left: 10px;
		}

		.fa {
			position: absolute;
			right: 5px;
			top:8px;
		}
	}

	a {
		display: block;
		color:#000;
		&:hover{
			text-decoration: none;
		}
	}
}

#js-content-outer { display: none; }
#js-content-bottoms { display: none; }
#js-content-accessories { display: none; }
#js-content-others { display: none; }


//ブランドここから
.headerBrandList {

	clear: both;
	margin: 30px auto;
	max-width: 1240px;

	ul {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		margin-bottom: 8px;
	}

	li:hover {
		opacity: 0.7;
	}

	.brand__wrapper {
		border: 1px solid #cdcdcd;
		width: 100%;
		height: 50px;
		margin-bottom: 25px;
		display: block;
	}


	p {
		margin:0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}



	.brand__header {
		width: 20%;
		margin-left: 5%;
		float: left;
		//overflow: hidden;
		img {
			height: 49px;
			width: 49px;

		}
	}

	.brand__body {
		width: 75%;
		float: left;
		padding-top: 8px;
		text-indent: 10%;
	}
	.brand__nameEng {
		color:#000;
	}

	.brand__nameJa {
		color:gray;
	}

	button {
		border-radius: 0;
		font-size: 11px;
		margin-top: 17px;
	}

	.btn-default:hover {
		color: #fff;
		background-color: #000!important;
		border-color: #000;
		transition:all 0.5s;
	}

}

//特集ここから
.headerTopicList {

	clear: both;
	margin: 30px auto;
	max-width: 1240px;

	a:hover {
		text-decoration: none;
		opacity: 0.7;
	}

	ul {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		margin-bottom: 8px;
	}

	img {
		margin-bottom: 8px;
	}

	h3 {
		font-size:12px;
		color:#000;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	p {
		font-size:12px;
		color:gray;
		margin-bottom: 15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	button {
		border-radius: 0;
		font-size: 11px;
	}

	.btn-default:hover {
		color: #fff;
		background-color: #000!important;
		border-color: #000;
		transition:all 0.5s;
	}

}

//ヘッダー５段目
.headerInfo {
	width: 100%;
	height: 80px;
	overflow: hidden;
	border-top:1px solid #cdcdcd;
	border-bottom:1px solid #cdcdcd;

	ul {
		width: 1100px;
		margin: 0 auto;
	}

	img {
		margin-top:3px;
		width: 180px;
		margin-left: -15px;
	}

	li {
		border-right: 1px solid #cdcdcd;
		height: 80px;
		overflow: hidden;


		&:last-child {
			border-right: none;
		}

		&:hover {
			opacity: 0.7;
		}
	}

}


.diplay {
	display: block;
}

.hidden {
	display: none;
}

.hidden-pc {
	display: none!important;
}

.hidden-sp {
	display: block!important;
}

@media (max-width: 768px) {

	.hidden-sp {
		display: none!important;
	}

	.hidden-pc {
		display: block!important;

	}

	.sp {
		background: #000;
		text-align: center;
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		height: 4em;
		z-index: 9999999;

		li {
			float: left;
		}

	}

	.searchForm {
		width:90%;
		margin-bottom:2em;
		margin-top:1em;

		button img {
			width:18px;
		}
	}


	.fa-times {
		display: none;
	}

	.sp__menu {
		font-size: 1.75em;
		color:#fff;
		width: 10%;
		margin-top: 0.4em;
		text-indent: 0.5em;
	}
	.sp__logo {
		width: 80%;
		text-align: center;

		img {
			height: 3.5em;
			margin-top: 0.25em;
			width: auto;
		}
	}
	.sp__cart {
		font-size: 1.75em;
		color:#fff;
		width: 10%;
		margin-top: 0.4em;
		text-indent: -0.5em;
	}

//トグルメニュー
	.menu__outerbox {
		//height: 100vh;
	}

	.menu {

		//margin-top: 5em;
		z-index:99999999;
		padding-left: 2em;
		width: 100%;
		height: 100%;
		overflow-y:scroll;
		position: fixed;
		left:-100%;
		top:4em;
		padding-top: 1em;
		background: #fff;
		box-shadow: 2px 2px rgba(0,0,0, 0.15);

		a {
			display: block;
			height: 3em;
			color: #000;
			//margin-bottom: 1px solid #ddd;
		}

	}

	.menu__top {
		display: block;
		margin-bottom: 2em;
		border-bottom: 1px solid #ddd;

		// li a {
		// 	display: block;
		// 	z-index:99999999;
		// 	position: relative;
		// }
	}

	.menu__sns {
		display: block;

		.fa {
			margin-right: 0.5em;
		}
	}
}