div.section3-1
	p.round-corner CATEGORY / アイテム一覧
	div.category
		p.trigger OUTER / アウター
		ul.target
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000633/')
					| アウター一覧
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000648/')
					| スカジャン

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002456/')
					| カーディガン

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002580/')
					| セーター

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002459/')
					| パーカー

			li
				a(target="_top" href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E3%83%91%E3%83%BC%E3%82%AB%E3%83%BC%E3%80%80%E5%8D%8A%E8%A2%96&st=A&nitem=&min=&max=')
					| 半袖パーカー

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000649/')
					| トレーナー(スウェット)

			li
				a(target="_top" href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E3%82%B8%E3%83%83%E3%83%97%E3%82%A2%E3%83%83%E3%83%97&st=A&nitem=&min=&max=')
					| ジップアップ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000655/')
					| スタジャン

			li
				a(target="_top" href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E3%82%B8%E3%83%A3%E3%82%B1%E3%83%83%E3%83%88&st=A&nitem=&min=&max=')
					| ジャケット

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000650/')
					| ジャージ

			li
				a(target="_top" href='http://search.rakuten.co.jp/search/inshop-mall/%E3%83%80%E3%82%A6%E3%83%B3/-/sid.235529-st.A')
					| ダウン

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000657/')
					| ミリタリージャケット

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000658/')
					| レザー

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000659/')
					| デニムジャケット
	div.category
		p.trigger TOPS / トップス
		ul.target
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000632/')
					| トップス一覧
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000640/')
					| 半袖Tシャツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000641/')
					| 長袖Tシャツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000642/')
					| 半端袖シャツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000643/')
					| ポロシャツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002455/')
					| アロハシャツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002454/')
					| 半袖シャツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002453/')
					| 長袖シャツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000647/')
					| タンクトップ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002225/')
					| ベスト

	

	div.category
		p.trigger BOTTOMS / ボトムス
		ul.target
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000631/')
					| ボトムス一覧
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002339/')
					| ジーンズ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002422/')
					| ノンウォッシュジーンズ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000637/')
					| イージーパンツ

			li
				a(target="_top" href='http://search.rakuten.co.jp/search/inshop-mall/%E3%83%87%E3%83%8B%E3%83%A0%E3%80%80%E3%83%8F%E3%83%BC%E3%83%95/-/sid.235529-st.A')
					| デニムハーフパンツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000638/')
					| ハーフパンツ

			li
				a(target="_top" href='http://www.aun-wa.com/SHOP/411347/460095/list.html')
					| カーゴパンツ

			li
				a(target="_top" href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E3%83%AF%E3%83%BC%E3%82%AF%E3%83%91%E3%83%B3%E3%83%84&st=A&nitem=&min=&max=')
					| ワークパンツ

	div.category
		p.trigger ACCESSORIES / アクセサリー
		ul.target
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000634/')
					| 小物一覧
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000660/')
					| 帽子

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002529/')
					| キーケース

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002514/')
					| 手袋

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002259/')
					| アイウェア

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000001686/')
					| ネックウォーマー

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002016/')
					| 時計

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000661/')
					| バッグ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000662/')
					| ベルト

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000663/')
					| アクセサリー

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000665/')
					| ボクサーパンツ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000664/')
					| サンダル

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000001660/')
					| 靴

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000001796/')
					| 財布

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000001686/')
					| マフラー

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000001939/')
					| ジッポー

	div.category
		p.trigger OTHERS / その他
		ul.target
			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002574/')
					| 扇子

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002515/')
					| タオル

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000001883/')
					| つなぎ

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002528/')
					| ステッカー

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002535/')
					| タペストリー

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002513/')
					| フィギュア

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000002530/')
					| サポーター

			li
				a(target="_top" href='http://item.rakuten.co.jp/auc-rodeo/c/0000000663/')
					| アクセサリー

