.selectedBrands
			h2.sectionTitle SELECTED BRANDS
			ul.items.row
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g145594/list.html', title='ALPHA')
								img.lazy(alt='ALPHA', title='ALPHA', data-original='img/01.jpg')
							figcaption
								h3 ALPHA
								p 1959年創業のミリタリーブランドALPHA
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g145594/list.html')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g42521/list.html', title='IRON HEART')
								img.lazy(alt='IRON HEART', title='IRON HEART', data-original='img/05.jpg')
							figcaption
								h3 IRON HEART
								p バイク乗りによるバイク乗りのためのブランド
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g42521/list.html')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g123507/list.html', title='ONI DENIM')
								img.lazy(alt='ONI DENIM', title='ONI DENIM', data-original='img/06.jpg')
							figcaption
								h3 ONI DENIM
								p たった一人の老職人による傑作ブランド
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002220/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/list.cgi?Search=flat+head', title='THE FLAT HEAD')
								img.lazy(alt='THE FLAT HEAD', title='THE FLAT HEAD', data-original='img/07.jpg')
							figcaption
								h3 THE FLAT HEAD
								p 古き良き時代のアメリカンテイストと現代性の融合
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g123507/list.html')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g42669/list.html', title='DISNEY')
								img.lazy(alt='DISNEY', title='DISNEY', data-original='img/03.jpg')
							figcaption
								h3 DISNEY
								p 世界中の人々を魅了する「Disney」とのコラボ
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g42669/list.html')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/list.php?Search=%C5%EC%CD%CE', title='TOYO ENTERPRISE')
								img.lazy(alt='TOYO ENTERPRISE', title='TOYO ENTERPRISE', data-original='img/02.jpg')
							figcaption
								h3 TOYO ENTERPRISE
								p 世界唯一といえる日本オリジナルの「洋服」を創る
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/list.php?Search=%C5%EC%CD%CE')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g29408/list.html', title='BUZZ RICKSON')
								img.lazy(alt='BUZZ RICKSONS', title='BUZZ RICKSONS', data-original='img/12.jpg')
							figcaption
								h3 BUZZ RICKSON'S
								p ヴィンテージを徹底的に研究し、真のレプリカを製造
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g29408/list.html')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g29413/list.html', title='SUGAR CANE')
								img.lazy(alt='SUGAR CANE', title='SUGAR CANE', data-original='img/11.jpg')
							figcaption
								h3 SUGAR CANE
								p 日本に誕生した初めての米軍向け衣料メーカー
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g29413/list.html')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g44062/list.html', title='VANSON')
								img.lazy(alt='VANSON', title='VANSON', data-original='img/09.jpg')
							figcaption
								h3 VANSON
								p 最高品質のレザーウエアを追求し続ける
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g44062/list.html')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/list.cgi?Search=%a5%a8%a5%d5%be%a6%b2%f1', title='EFU CO., INC')
								img.lazy(alt='EFU CO., INC', title='EFU CO., INC', data-original='img/08.jpg')
							figcaption
								h3 EFU CO., INC
								p 日本男児の美意識を目覚めさせる「和米カジ」
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/list.cgi?Search=%a5%a8%a5%d5%be%a6%b2%f1')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g145596/list.html', title='MISTER FREEDOM')
								img.lazy(alt='MISTER FREEDOM', title='MISTER FREEDOM', data-original='img/13.jpg')
							figcaption
								h3 MISTER FREEDOM
								p 劇中の登場人物が着用する洋服をイメージしてコレクションを創りあげる
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g145596/list.html')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://www.aun-wa.com/SHOP/g140014/list.html', title='CROWS WORST')
								img.lazy(alt='クローズワーストコラボアイテム', title='クローズ　ワースト', data-original='img/04.jpg')
							figcaption
								h3 CROWS WORST
								p 高橋ヒロシ先生の描くコミックを具現化
						.text-center.hidden-xs
							a(href='http://www.aun-wa.com/SHOP/g140014/list.html')
								button.btn.btn-default MORE
			.text-center
				a(href='http://www.aun-wa.com/brand-list.html')
					button.morebtn.btn.btn-default ブランド一覧へ
