//スマフォでのみ表示
div.news.hidden-pc
	h2.sectionTitle NEWS
	div.news__wrapper
		div.news__header
			a(href="http://www.aun-wa.com/novelty/")
				img.lazy(data-original="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-19.jpg" src="./load1000x1000.gif")
		div.news__boyd
			h3 オリジナルノベルティプレゼント
			p ただいまロデオブロスにて一回のご注文で、¥50,000(税込)以上購入して頂いたお客様に「ロデオブロスオリジナルマグカップ」をプレゼント致します。
		div.news__header
			a(href="http://www.aun-wa.com/alphabug/")
				img.lazy(data-original="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-13.jpg" src="./load1000x1000.gif")
		div.news__boyd
			h3 ALPHA INDUSTRIES INC
			p ALPHA BAG アルファバッグ 通勤通学に。
		div.news__header
			a(href="http://www.aun-wa.com/tedmantee/")
				img.lazy(data-original="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-12.jpg" src="./load1000x1000.gif")
		div.news__boyd
			h3 2016年 春夏 新着 TEDMAN
			p 新たにテッドマンの半袖Tシャツが入荷しました。
