.totalCoorde
	h2.sectionTitle TOTAL COORDINATE
	div.totalCoorde__wrapper
		div.totalCoorde__main
			a(href="http://www.aun-wa.com/SHOP/nvsl-511.html" title="トータルコーディネイト")
				img.lazy(data-original="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/total-co/nvsl-511_big.jpg" src="./load1000x1000.gif")
		div.totalCoorde__sub
			div.totalCoorde__tops
				a(href="http://www.aun-wa.com/SHOP/nvsl-511.html" title="トップス")
					img.lazy(data-original="http://shopping.c.yimg.jp/lib/rodeobros/nvsl-511-0.jpg?_ex=300x300" src="./load1000x1000.gif" alt="バンソンのシャツ")
					h3 VANSON
					p Logo Embroidered Twill Long sleeves Work Shirt
			div.totalCoorde__bottoms
				a(href="http://www.aun-wa.com/SHOP/461-506.html" title="ボトムス")
					img.lazy(data-original="http://shopping.c.yimg.jp/lib/rodeobros/461-506-0.jpg?_ex=300x300" src="./load1000x1000.gif" alt="YOROIデニム")
					h3 YOROI
					p Wrinkle Free Stretch Black Jeans
	.text-center
		a(href='http://www.aun-wa.com/totalcoorde-all/')
			button.btn.btn-default スタイル一覧へ


