@import 'vendor/normalize';
@import 'base';
@import 'utility';

.category-title{

	clear: both;
	background: rgb(225, 224, 211);
	font-size: 2em;
	width: 100%;
	color:#000;
	padding: 0.2em 0;

}
#goToTop {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.top-menu {

	background: rgba(0, 0, 0, 0.82);
	box-shadow: 1px 2px rgba(255,255,255,0.2);
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	ul {
		display: block;
		margin: 0 auto;
		max-width: 1040px;
	}


	li {
		display: inline-block;
		height: 3em;
		line-height: 2.9;
	}

	a {
		color:rgb(225, 224, 211);
	}

}

.text-top {
	font-size: 1.4em;
	font-weight: 300;
}

.top-image-box {
	
}

.items {

	p{
		margin-top: 0;
	}

}

.price-menu-box {
	clear: both;
	display: block;
}

.price-menu {

	p {
		padding:0.4em 0;
	}

}

.allItemsButton-box {

	clear: both;

	a:hover {
		text-decoration: none;
	}
	
	p {
		width: 40%;
		margin:0 auto;
		padding:0.8em 0;
	}

}

@media (max-width: 768px) {

.allItemsButton-box {
	
	p {
		width: 80%;
	}

}

.top-menu {

	height: 3em;
	overflow: hidden;

}

.text-top {
	font-size: 1.1em;
	padding: 0 0.5em;
	text-align: left;
}

body {
	padding-top: 3em;
}

}