div.sp
	ul
		li.sp__menu#js-sp-menu
			span.fa.fa-bars
			span.fa.fa-times
		li.sp__logo
			a(href="")
				img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/logo-white.png")
		li.sp__cart
			span.fa.fa-shopping-cart
div.menu__outerbox
	div.menu
		ul.menu__top
			li
				a(href="http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5bfa52.html?n=50&X=99#CentItemList1") 新着商品
			li
				a(href="http://store.shopping.yahoo.co.jp/rodeobros/tops28a5c8.html") トップス
			li
				a(href="http://store.shopping.yahoo.co.jp/rodeobros/outer28a5a.html") アウター
			li
				a(href="http://store.shopping.yahoo.co.jp/rodeobros/bottoms28a.html") ボトムス
			li
				a(href="http://store.shopping.yahoo.co.jp/rodeobros/item28a5a2.html") アクセサリー
			li
				a(href="http://shopping.geocities.jp/rodeobros/brandlist/brand-list.html") ブランド一覧へ
			li
				a(href="http://shopping.geocities.jp/rodeobros/backnumber/") 特集一覧へ
			li
				a(href="http://review.store.shopping.yahoo.co.jp/rodeobros/store/review/") ユーザーレビュー
			li
				a(href="http://store.shopping.yahoo.co.jp/rodeobros/a4e8a4afa4.html") ショッピングガイド
			li
				a(href="rodeobros@aun-wa.com") お問い合わせ
			li
				a(href="http://shopping.geocities.jp/rodeobros/recruit/") 採用情報
		ul.menu__sns
			li
				a(href="https://snlweb.shopping.yahoo.co.jp/shp_snl/optin/index/rodeobros") 
					span.fa.fa-envelope
					| メールマガジン
			li
				a(href="https://twitter.com/rodeobros") 
					span.fa.fa-twitter-square
					| Twitter
			li
				a(href="https://www.facebook.com/Rodeobros") 
					span.fa.fa-facebook-official
					| Facebook
			li
				a(href="https://www.instagram.com/rodeo_bros/") 
					span.fa.fa-instagram
					| Instagram
