div.headerCategoryList#categoryContent
	ul.headerCategoryList__menu.col-sm-3
		li#js-menu-tops
			.tab__inbox
				p
					| トップス
					span TOPS
			i.fa.fa-angle-right
		li#js-menu-outer
			.tab__inbox
				p
					| アウター
					span OUTER
			i.fa.fa-angle-right
		li#js-menu-bottoms
			.tab__inbox
				p
					| ボトムス
					span BOTTOMS
			i.fa.fa-angle-right
		li#js-menu-accessories
			.tab__inbox
				p
					| アクセサリー
					span ACCESORIES
			i.fa.fa-angle-right
		li#js-menu-others
			.tab__inbox
				p
					| その他
					span OHTER
			i.fa.fa-angle-right


	div.tab__contents.col-sm-9
				div.tab__content#js-content-tops
					ul
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/c8bec2b5ta.html')
								| 半袖Tシャツ
								span Short Sleeve T-Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/c4b9c2b5ta.html')
								| 長袖Tシャツ
								span Long Sleeve T-Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/b8decaacc2.html')
								| 半端袖シャツ
								span Middle Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dda5eda5.html')
								| ポロシャツ
								span Polo Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b7a5e3a5.html')
								| アロハシャツ
								span Aloha Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/b52cb58e2ac.html')
								| 半袖シャツ
								span Short Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/5cbc4a2529b.html')
								| 長袖シャツ
								span Long Sleeve Shirts
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5bfa5f3a5.html')
								| タンクトップ
								span Tank top
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5d9a5b9a5.html')
								| ベスト
								span Vest
								.fa.fa-angle-right
				.tab__content#js-content-outer
					ul
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5aba5.html')
								| スカジャン
								span Souvenir Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5aba1bca5.html')
								| カーディガン
								span Cardigan
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/sweaters28.html')
								| セーター
								span Serater
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/aa25b1d1a5c.html')
								| パーカー
								span Hoodie
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5a6a5.html')
								| トレーナー(スウェット)
								span Sweat
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/3555a82baac.html')
								| ジップアップ
								span Zip-up Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5bfa5.html')
								| スタジャン
								span Award Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%E3%82%B8%E3%83%A3%E3%82%B1%E3%83%83%E3%83%88&%E6%A4%9C%E7%B4%A2.x=0&%E6%A4%9C%E7%B4%A2.y=0')
								| ジャケット
								span Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%B8%A5%E3%A1%BC%A5%B8&view=grid')
								| ジャージ
								span Track Jacket
								.fa.fa-angle-right
					ul
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%C0%A5%A6%A5%F3')
								| ダウン
								span Down Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dfa5eaa5.html')
								| ミリタリージャケット
								span Military Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5eca5b6a12.html')
								| レザー
								span Riders Jacket
								.fa.fa-angle-right
						li
							a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5c7a5cba59.html')
								| デニムジャケット
								span Denim Jacket
								.fa.fa-angle-right
				.tab__content#js-content-bottoms
						ul
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/denim28a5c.html')
									| ジーンズ
									span Jeans
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/rawdenima1.html')
									| ノンウォッシュジーンズ
									span Non-wash Jeans
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/easy28a5a4.html')
									| イージーパンツ
									span Easy Pants
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/chino28a5c.html')
									| チノパンツ
									span Chino Pants
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/half28a5cf.html')
									| ハーフパンツ
									span Harf Pants
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%E3%82%AB%E3%83%BC%E3%82%B4&%E6%A4%9C%E7%B4%A2.x=0&%E6%A4%9C%E7%B4%A2.y=0')
									| カーゴパンツ
									span Cargo Pants
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5efa1bca5.html')
									| ワークパンツ
									span Work Pants
									.fa.fa-angle-right
				.tab__content#js-content-accessories
						ul
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/cbb9bbd2.html')
									| 帽子
									span Cap
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5ada1bca5.html')
									| キーケース
									span Key Case
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bceac2de.html')
									| 手袋
									span Glob
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/25a55abf3a5.html')
									| アイウェア
									span Eye Wear
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dea5d5a5.html')
									| ネックウォーマー
									span Neck Warmers
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bbfeb7d7.html')
									| 時計
									span Watch
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5d0a5c3a5.html')
									| バッグ
									span Bag
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5d9a5eba5.html')
									| ベルト
									span Belt
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5a2a5afa5.html')
									| アクセサリー
									span Accesories
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dca5afa5.html')
									| アンダーウェア
									span Underwear
									.fa.fa-angle-right
						ul
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b5a5f3a5.html')
									| サンダル
									span Sandals
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5cba1.html')
									| 靴
									span Shoes
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bae2c9db.html')
									| 財布
									span Wallet
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dea5d5a5.html')
									| マフラー
									span Scarf
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/zippo.html')
									| ジッポー
									span Zippo
									.fa.fa-angle-right
					.tab__content#js-content-others
						ul
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/sensu28c0f.html')
									| 扇子
									span Sensu
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5bfa5aaa5.html')
									| タオル
									span Towel
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a4c4a4caa4.html')
									| つなぎ
									span Coverall
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5c6a5.html')
									| ステッカー
									span Sticker
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/tapestry28.html')
									| タペストリー
									span Tapestry
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5d5a5a3a5.html')
									| フィギュア
									span Toys & Figures
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/armsleeves.html')
									| サポーター
									span Arm Sleeves
									.fa.fa-angle-right
							li
								a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5a2a5afa5.html')
									| アクセサリー
									span Accesories
									.fa.fa-angle-right