div.headerTopicList#topicContent
	ul.list-unstyled
		li.col-sm-3
			a.item(target='_top', href='http://shopping.geocities.jp/rodeobros/vanson/')
					img(alt='VANSON', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-24.jpg')
					figcaption
						h3 VANSON
						p バンソン 新着商品 / 予約商品

		li.col-sm-3
			a.item(target='_top', href='http://shopping.geocities.jp/rodeobros/fatherday/')
					img(alt='アロハシャツ特集', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-21.jpg')
					figcaption
						h3 Father's Day
						p 父の日特集

		li.col-sm-3
			a.item(target='_top', href='http://shopping.geocities.jp/rodeobros/tedmantee/')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-12.jpg')
					figcaption
						h3 TEDMAN Short Sleeve T-Shirts
						p 2016年新作入荷 テッドマン半袖Tシャツ

		li.col-sm-3
			a.item(target='_top', href='http://shopping.geocities.jp/rodeobros/kaminaritee/')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-20.jpg')
					figcaption
						h3 KAMINARI Short Sleeve T-Shirts
						p 2016年新作入荷 半袖Tシャツ

	div.text-center
		a(target='_top', href='http://shopping.geocities.jp/rodeobros/backnumber/')
			button.btn.btn-default 特集一覧へ