doctype html
html
	include ../../common/jade/head/_head-r.jade
	body
		//Goolge Tag から
		include ../../common/jade/_google.jade
		//ヘッダーここから
		section
			include ./jade/_header.jade
		section
			include ./jade/_carousel.jade
		section
			include ./jade/_newarrival.jade
		section
			include ./jade/_totalcoorde.jade
		section
			include ./jade/_brand.jade
		section
			include ./jade/_footer.jade
		//スクリプトここから
		include ./jade/_setting.jade
