div.actual-leftnav
	//セクション０　フリースペース
	//section.mb-ss
		include _leftnav-section0.jade
	// セクション１　大きな画像
	section.mb-ms
		include _leftnav-section1.jade
	// セクション２　トップ、新着、再入荷etc
	section.mb-ms
		include _leftnav-section2.jade
	// セクション３ アコーディオン
	section.mb-ms
		//カテゴリー
		include _leftnav-section3-1.jade
	section.mb-ms
		//ブランド
		include _leftnav-section3-2.jade
	// セクション４　特集
	section.mb-ms
		include _leftnav-section4.jade
	//　セクション５ その他の要素,facebook, リクルート など
	section.mb-ms
		include _leftnav-section5.jade