div.section1
	a(target="_top" href="http://www.aun-wa.com/totalcoorde-all/index.html" title="ロデオブロスが勧めるトータルコーディネート一覧ページ")
		img.mb-ss(src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/leftnabi/total_leftnavi.jpg" alt = "オススメの商品を着たモデルの画像")