div.section3-1
  p.round-corner CATEGORY / アイテム一覧
  div.category
    p.trigger OUTER / アウター
    ul.target
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411845/list.html')
          | スカジャン
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AB%E3%83%BC%E3%83%87%E3%82%A3%E3%82%AC%E3%83%B3')
          | カーディガン
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%BB%E3%83%BC%E3%82%BF%E3%83%BC')
          | セーター
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411849/list.html')
          | パーカー
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/558249/list.html')
          | 半袖パーカー
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411866/list.html')
          | トレーナー(スウェット)
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411867/list.html')
          | ジップアップ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411884/list.html')
          | スタジャン
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411897/list.html')
          | ジャケット
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411887/list.html')
          | ジャージ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411887/list.html')
          | ダウン
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411896/list.html')
          | ミリタリージャケット
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411903/list.html')
          | レザー
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411905/list.html')
          | デニムジャケット
  div.category
    p.trigger TOPS / トップス
    ul.target
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411535/list.html')
          | 半袖Tシャツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411745/list.html')
          | 長袖Tシャツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411752/list.html')
          | 半端袖シャツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411803/list.html')
          | ポロシャツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411804/list.html')
          | アロハシャツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411535/list.html')
          | 半袖シャツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411838/list.html')
          | 長袖シャツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411842/list.html')
          | タンクトップ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411534/778256/list.html')
          | ベスト
  div.category
    p.trigger BOTTOMS / ボトムス
    ul.target
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411347/411349/list.html')
          | ジーンズ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411347/966797/list.html')
          | ノンウォッシュジーンズ
          
      li
        a(target='_top', href='http://aun-wa.com/SHOP/411347/411494/list.html')
          | イージーパンツ
          
      li
        a(target='_top', href='http://aun-wa.com/SHOP/411347/411500/list.html')
          | デニムハーフパンツ
          
      li
        a(target='_top', href='http://aun-wa.com/SHOP/411347/411501/list.html')
          | ハーフパンツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411347/460095/list.html')
          | カーゴパンツ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411347/697023/list.html')
          | ワークパンツ
  div.category
    p.trigger ACCESSORIES / アクセサリー
    ul.target
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411913/list.html')
          | 帽子
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AD%E3%83%BC%E3%82%B1%E3%83%BC%E3%82%B9')
          | キーケース
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%96')
          | 手袋
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%A2%E3%82%A4%E3%82%A6%E3%82%A7%E3%82%A2')
          | アイウェア
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%8D%E3%83%83%E3%82%AF%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%9E%E3%83%BC')
          | ネックウォーマー
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%A6%E3%82%A9%E3%83%83%E3%83%81')
          | 時計
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411917/list.html')
          | バッグ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411923/list.html')
          | ベルト
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411924/list.html')
          | アクセサリー
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/412140/list.html')
          | アンダーウェア(ボクサーパンツ)
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411926/list.html')
          | サンダル
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/412146/list.html')
          | 靴(スニーカー)
          
      li
        a(target='_top', href='http://aun-wa.com/SHOP/411912/443430/list.html')
          | 財布
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/416896/list.html')
          | マフラー
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/546367/list.html')
          | ジッポー
  div.category
    p.trigger OTHERS / その他
    ul.target
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E6%89%87%E5%AD%90')
          | 扇子
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%BF%E3%82%AA%E3%83%AB')
          | タオル
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%84%E3%83%8A%E3%82%AE')
          | つなぎ
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%B9%E3%83%86%E3%83%83%E3%82%AB%E3%83%BC')
          | ステッカー
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%BF%E3%83%9A%E3%82%B9%E3%83%88%E3%83%AA%E3%83%BC')
          | タペストリー
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%95%E3%82%A3%E3%82%AE%E3%83%A5%E3%82%A2')
          | フィギュア
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%B5%E3%83%9D%E3%83%BC%E3%82%BF%E3%83%BC')
          | サポーター
          
      li
        a(target='_top', href='http://www.aun-wa.com/SHOP/411912/list.html')
          | アクセサリー
          
