footer {
  background: #eeeeee;
  font-size: 12px;
}

footer ul {
  padding:0;
  margin:0;
  list-style:none;
}

.col-sm-4 {
  width: 32%;
  float: left;
  margin-right: 1%;
  margin-bottom:1em;
}

.col-sm-4:nth-of-type(4) {
  clear:both;
}

.shop-infomation {
  clear: both;
  background: #eeeeee;
  padding: 0 4em;
  position: relative;
  padding-bottom: 2em;
}

.shop-infomation h2 {
  font-weight: normal;
  font-size: 1.3em;
  padding: 0.5em 0;
  padding-top: 1em;
  border-bottom: 1px solid #888;
}

.shop-infomation .sns {
  position: absolute;
  top: 1.5em;
  right: 4em;
}

.shop-infomation .sns li {
  display: inline-block;
}

.shop-infomation .sns i {
  font-size: 1.5em;
  margin-left: 1em;
  color: #000;
}

.shop-infomation .shop-infomation__textbox h3 {
  font-weight: normal;
  font-size: 1.3em;
  margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.text-right {
  text-align:right;
}

.copy-right {
  background: #000;
  color: #fff;
  clear:both;
}

.copy-right a {
  padding-top: 0.3em;
  font-size: 1.5em;
  font-weight: bold;
}

.copy-right p {
  padding: 0.3em 0;
  text-align: center;
}

.copy-right__phone.text-center {
  padding-top: 0.5em;
}
