@charset "euc-jp";
/* CSS Document */
body {
font-size:13px;
font-weight:400;
letter-spacing: 1px;
line-height:1.5!important;
font-family: "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif!important;
}

a img:hover {
opacity:0.7;
}

a:link {
		color: blue;
}

a:visited {
		color: blue;
}

a:hover {
		color: blue;
}

a:active {
		color: blue;
}


/* 商品ここから */
h1 {
	font-size: 1em;
}
#shouhin {
	font-size:13px;
}
#shouhin p{
	font-size:13px;
}

#shouhin_main {
	font-size:13px;
}

#shouhin_main table {
	font-size:13px;
}

#shouhin_main p {
	font-size:13px;
}

#shouhin_main_left {
clear:both;
float:left;
width: 400px;
height:100%;
margin-bottom:20px;
font-size: 14px;
}

#shouhin_main_right {
float:left;
width:400px;
height:100%;
margin-bottom:20px;
font-size: 14px;
}

#shouhin_main_bottom {
clear:both;
}

#item_description {
float:left;
margin-bottom:20px;
}

#brand {
width:833px;
height:130px;
border:1px #E6E6E6 solid;
margin-bottom:15px;

}

#brand_logo {
width:110px;
height:70px;
padding:20px 20px 20px 20px;
margin-top:10px;
}


#brand_img{
float:left;
}

#brand_description{
	float:left;
	padding:50px 0px 0px 150px;
	width:440px;
	height:100px;
}

.staff_img {
width:70px;
height:70px;

}

.staff {
width:108px;
text-align:right;
float:left;
margin-right:10px;
margin-top:-10px;
color:#727171;
}

#stafimg {
margin-top:10px;
margin-bottom:5px;
	background-image:url("http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/staff_g.jpg");
	height:73px;
	width:835px;
}

.staff-info {
float:right;

}

.size_person {
	float: left;
	width: 100%;
	height: 100px;
	line-height: 1.5;
}

.size_person img {
			width: 80px!important;
	height: 80px!important;
		float: left;
		margin: 0px 5px 0px 0px;
}

p {
margin:3px 0px 3px 0px;
}


#m-mate {
width:90px;
background-color:#333333;
color:#FFFFFF;
text-align:center;
padding:1px;
margin-top:20px;
margin-bottom:10px;

}

#m-size {
width:50px;
background-color:#333333;
color:#FFFFFF;
text-align:center;
padding:1px;
margin-bottom:10px;
}
#m-detail {
width:60px;background-color:#333333;color:#FFFFFF;text-align:center;padding:1px;margin-top:20px;margin-bottom:10px;
}

#m-total::before {
	clear:both;
}
#m-total {
	width:60px;
	background-color:#333333;
	color:#FFFFFF;
	text-align:center;
	padding:1px;
	height:auto;
	clear: both;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

#m-model{
width:60px;background-color:#333333;color:#FFFFFF;text-align:center;padding:1px;margin-top:20px;margin-bottom:10px;
}

#m-detail {
width:60px;background-color:#333333;color:#FFFFFF;text-align:center;padding:1px;margin-top:20px;margin-bottom:10px;
}

#m-brand {
width:60px;background-color:#333333;color:#FFFFFF;text-align:center;padding:1px;margin-bottom:10px;
}

#more {clear:both;text-align:center;margin-top:25px;margin-bottom:25px;}
#more div {
	width: 816px;
    font-size: 13px;
    padding: 9px;
    color: #fff;
    background-color: #000;
    /* margin: 0 auto; */
    border: 1px solid #ddd;
}
#more div:hover {background:#fff; color:#000;transition:all 1s;}
#more a { text-decoration:none;}


#brand-concept {
	border: 1px solid #E6E6E6;
	margin-bottom: 1em;
	padding: 0;
	font-size:12px!important;
}

/*買い物カゴ付近ここから*/
span.catch_copy {
	color: #000000;
	font-size: 14px;
}

span.item_name {
		color: #000000;
		font-size: 11px;
}

#rakutenLimitedId_aroundCart table {
	width: 100%;
}

div#rakutenLimitedId_aroundCart input.rCartBtn, div#rakutenLimitedId_aroundCart input.rCartBtn[type="submit"] {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	background: url("http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/btn-cartn-0203.jpg")!important;
	width: 260px!important;
	height: 70px!important;
	text-indent: -9999px!important;
	border: none!important;
	cursor: pointer!important;
	background-size: contain!important;
}
div.bookmarkArea div.bkm {
	  width: 100%;
	height: 50px!important;
}

div.bookmarkArea div.bkm a.addBkm span.bkmStar {
	display: inline-block !important;
	width: 308px !important;
	height: 50px !important;
	margin-right: 4px !important;
	background: url(http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/btn-fav-1.png) no-repeat 0 0 !important;
	cursor: pointer !important;
}

div.shopBookmarkArea div.shopBkm {
	width: 100%;
	height: 50px!important;
}
div.shopBookmarkArea div.shopBkm a.addShopBkm span.shopBkmStar {
	display: inline-block !important;
	width: 308px !important;
	height: 50px!important;
	margin-right: 4px !important;
	background: url(http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/btn-fav-2.png) no-repeat 0 0 !important;
	cursor: pointer !important;
}

#rakutenLimitedId_aroundCart button.rAskBtn {
	background: #ffffff url(http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/btn-fav-3.png) no-repeat !important;
	background-position: center center !important;
	font-size: 0!important;
	height: 50px;
	width: 308px;
	border: none!important;
	margin-bottom: 10px!important;
	margin-top: 5px!important;
}

span.inventory_choice_name {
	color: #ffffff;
	font-size: 100%;
}

input[value="商品についての問合わせ"] {
	background: #ffffff url(http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/btn-fav-3.png) no-repeat !important;
    background-position: center center !important;
    font-size: 0!important;
    height: 50px;
    width: 308px;
    border: none!important;
    margin-bottom: 10px!important;
    margin-top: 5px!important;
}

#rakutenLimitedId_aroundCart button.rAskBtn {
    background: #ffffff url(http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/btn-fav-3.png) no-repeat !important;
    background-position: center center !important;
    font-size: 0!important;
    height: 50px;
    width: 308px;
    border: none!important;
    margin-bottom: 10px!important;
    margin-top: 5px!important;
}
#rakutenLimitedId_aroundCart div.bkm {
	width:310px!important;
}

#rakutenLimitedId_aroundCart div.shopBkm {
    width: 310px!important;
    padding: 0!important;
    padding-top: 0.6em!important;
}



/* 再入荷 */
span.unit {
    background: url("http://image.rakuten.co.jp/auc-rodeo/cabinet/top/itempage/default_cart_1223.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 1px;
    background-repeat: no-repeat;
    margin-top: 20px;
    height: 140px;
    width: 428px;
    line-height: 24.5!important;
    display: block;
}
/* 再入荷バツボタン */
.inventory_soldout > font {
	    color: gray!important;
}
/* 再入荷ボタン */
.button {
	border: 1px solid #CCC;
	border-bottom: 1px solid #999;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 2px #E7E7E7;
	-moz-box-shadow: 1px 1px 2px #E7E7E7;
	box-shadow: 1px 1px 2px #E7E7E7;
	padding: 2px 3px 0px;
	margin: 2px;
	margin-bottom: 8px;
}

/* 納期情報 */
table[id*=normal_basket_] > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > font {
    color: #999;
    font-size: 10px!important;
}

/* 画像３枚だけ表示ここから */
.rakutenLimitedId_ImageMain1-3:nth-of-type(4) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(5) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(6) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(7) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(8) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(9) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(10) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(11) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(12) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(13) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(14) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(15) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(16) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(17) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(18) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(19) {
	display: none!important;
}
.rakutenLimitedId_ImageMain1-3:nth-of-type(20) {
	display: none!important;
}
/* 画像３枚だけ表示ここまで */

/* パンくず */
td.sdtext a {
	padding: 0px 3px;
	font-size: 11px;
	line-height: 24px;
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #555  !important;
	margin-bottom: 6px;
	display: inline-block;
	text-decoration: none;
}
td.sdtext a:hover {
	background:#06C;
	color: #fff !important;
}