/* カテゴリー */
#risFil {
	width:800px;
}
#risFil a {
    color: #7b7b7b;
    line-height: 1.4;
    font-size: 11px;
}
span.category_itemprice {
    color: #E8000;
    font-size: 16px;
    color: #bf0000 !important;
    font-weight: bold;
}

span.subcategory_list {
    display: none;
}
.subcategory_list {
    height: 3em;
    display: block;
    width: 95%;
    margin-bottom: 1.5em;
    background: #f7f8f7;
    line-height: 3;
    overflow: hidden;
    text-indent: 1em;
    color: #000!important;
    text-decoration: none;
    border: 1px solid #ddd;
} .subcategory_list:hover {
	color: #fff!important;
	background: #333333;
}

/* カテゴリー ここまで*/

.leftnav {
	width:185px;
	margin-right: 15px;
}

.leftnav__box {
	background:#F6F6F6;
	margin-bottom:1em;
	padding-bottom:0.1em;
}

.leftnav__imageBox img{
	margin-bottom:1em;
}

.leftnav__imageBox .withText img {
	margin-bottom:0em;
}
.leftnav__imageBox .withText p {
	margin:0;
	padding:0;
	margin-bottom: 2em;
  font-size: 12px;
  text-align: center;
}

.leftnav h2 {
	font-size:12px;
	text-align:center;
	margin:0;
	padding: 1em;
}

.leftnav ul {
	padding:0;
	margin: 0.8em;
	margin-top:0;
	list-style:none;
	background:#fff;
}

.leftnav li {
		font-size: 12px;
		text-indent: 1em;
		height: 2.5em;
		border-bottom: 1px solid #ddd;
		line-height: 2.5;
		overflow:hidden;
}
.leftnav li:last-child  {
	border:none;
}

.leftnav li a {
	color:#000;
	text-decoration:none;
	display:block;
} .leftnav li a:hover {
	background:#f7f8f7;
}

.leftnav .arrow {
	font-size:12px;
	text-indent:1.5em;
	background: url(http://www.rakuten.ne.jp/gold/rodeo-2nd/items/img/arrow.png) no-repeat right;
	background-size: 7px 7px;
  background-position-x: 0.4em;
}

.leftnav .gray {
	color:#888;
}

.relationLink {
  	margin-bottom: 5em;
    display: block;
    color: gray!important;
    font-size: 12px;
     text-decoration: none!important;
    background: #fff;
    width: 76%;
    margin-left: 6%;
    padding: 6%;
    margin-bottom: 10px;
     line-height: 1.4;
} .relationLink h2 {
	background:#F6F6F6;
	color:#000;
	margin-top: 0;
    padding-top: 0;
    font-size: 14px;
}

.leftnav .all {
  background: #F6F6F6;
  height:3.2em;
}

.leftnav .all a {
  background: transparent;
  width: 80%;
  margin-left: 10%;
  height: 2em;
  line-height: 2;
  margin-bottom: 1em;
  text-indent: 0;
  text-align: center;
  background: #000;
  color: #fff;
  position: relative;
  top: 1em;
}

.leftnav .all a:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}
