div.top-image-box
	img.mb-ll(src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/slide/souvenir_topic_0112.jpg")

div#Vue
	div(v-for = "element in Souvenir" ).items.col-sm-6
		a(href="{{ element.number }}")
			div.items__header
				img(src="{{ element.image }}").mb-sm
			div.items__body
				p.brand {{ element.brand }}
				p.name.mb-ll {{ element.name }}

div.price-menu-box
	ul.prce-menu
		li.col-sm-2.mb-ml
			p 価格から探す  
		li.col-sm-2.mb-ml
			a(href="http://store.shopping.yahoo.co.jp/rodeobros/search.html?pf=20000&pt=30000&p=%A5%B9%A5%AB%A5%B8%A5%E3%A5%F3")
				p ~ ¥30,000
		li.col-sm-2.mb-ml
			a(href="http://store.shopping.yahoo.co.jp/rodeobros/search.html?pf=20000&pt=40000&p=%A5%B9%A5%AB%A5%B8%A5%E3%A5%F3")
				p ~ ¥40,000
		li.col-sm-2.mb-ml
			a(href="http://store.shopping.yahoo.co.jp/rodeobros/search.html?pf=20000&pt=50000&p=%A5%B9%A5%AB%A5%B8%A5%E3%A5%F3")
				p ~ ¥50,000
		li.col-sm-2.mb-ml
			a(herf="http://store.shopping.yahoo.co.jp/rodeobros/search.html?pf=20000&pt=60000&p=%A5%B9%A5%AB%A5%B8%A5%E3%A5%F3")
				p ~ ¥60,000
		li.col-sm-2.mb-ml
			a(href="http://store.shopping.yahoo.co.jp/rodeobros/search.html?pf=60000&pt=&p=%A5%B9%A5%AB%A5%B8%A5%E3%A5%F3")
				p ¥60,000 ~

div.allItemsButton-box.mb-ll
	a(href="http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%B9%A5%AB%A5%B8%A5%E3%A5%F3") 
		p.myButtonWhiteBlack Souvenir Jacket スカジャン 一覧へ