div.section4
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/novelty/" title="ロデオブロスオリジナルマグカップ")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-19.jpg" alt="マグカップ")
		p ノベルティープレゼント
	//具体性の高いもの
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/toyo/" title="東洋エンタープライズは５０周年記念を迎え、特別なジャケットを製造しました。")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-05.jpg" alt="東洋エンタープライズのフライトジャケットを着た人物")
		p 東洋 50周年記念商品
	//- a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/feature/eva.html" title="大人気アニメ、エヴァンゲリオンとのコラボ商品")
	//- 	img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-08.jpg" alt="エヴァンゲリオンのロゴ")
	//- 	p エヴァンゲリオンとのコラボ
	//- a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/feature/Ultraman.html" title="ウルトラマンとのコラボ商品")
	//- 	img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-09.jpg" alt="ウルトラマンのスカジャン")
	//- 	p ウルトラマンのスカジャン
	//最近作成したページ
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/souvenirjacket/index.html" title="豊富なランアップ！スカジャン特集ページ")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-02.jpg" alt="スカジャンの服を着た人物")
		p スカジャン特集	
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/totalcoorde-all/index.html" title="ロデオブロスが提案するトータルコーディネート")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-03.jpg" alt="草彅剛が着用しているピーコートを着た人物")
		p トータルコーディネート一覧
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/bestseller/index.html" title="売れている人気商品を選び抜きました。")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-01.jpg" alt="BEST SELLER")
		p ベストセラー商品一覧
	//- a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/ma1/" title="最近、流行りのMA-1フライトジャケット")
	//- 	img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-14.jpg" alt="MA-1ジャケットを着た人物")
	//- 	p MA-1 フライト　ジャケット
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/feature_page/alpha_boots.html" title="ALPHAからレインブーツの商品が届きました。")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-15.jpg" alt="ALPHAのロゴと長靴")
		p ALPHA レインブーツ
	//旧特集ページ
	//- a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/feature_page/lw150321/lw150321_wallet1.html" title="プレゼントにもオススメ、選び抜かれた革製品の特集ページ")
	//- 	img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-04.jpg" alt="様々な皮革製品")
	//- 	p レザー製品特集
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/catalog.html" title="商品購入で各ブランドのカタログをプレゼントします。")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-06.jpg" alt="ブランドのカタログをプレゼント")
		p ブランドカタログプレゼント
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/denim.html" title="様々なシルエットのデニムを集めました。")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-07.jpg" alt="DENIM COLLECTION")
		p シルエット別で選ぶデニム
	//店舗関係
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/rodeomap.html" title="RODEO BROSの実店舗のご案内")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-10.jpg" alt="RODEO BORS 実店舗の外見")
		p 実店舗のご案内
	//- a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/recruit/" title="RODEO BROSは、現在スタッフを募集しています。")
	//- 	img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-16.jpg" alt="アパレルの仕事")
	//- 	p スタッフ募集中
	//ブランド関係
	a(target="_top" href="http://store.shopping.yahoo.co.jp/rodeobros/b3bbyoroi.html" title="日本製品を世界に発信する自社ブランドYOROI")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-11.jpg" alt="日本製ブランドYOROI")
		p 日本製品を世界に発信
	a(target="_top" href="http://store.shopping.yahoo.co.jp/rodeobros/a5c6a1bca5.html" title="アメカジといえば東洋エンタープライズ")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-12.jpg" alt="TOYO ENTERPRIZEとアメカジ服")
		p 東洋エンタープライズ
	a(target="_top" href="http://store.shopping.yahoo.co.jp/rodeobros/a5a8a5d5be.html" title="テッドマンなどの大人気商品を世に送り出すエフ商会")
		img.gray-border(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/leftnavi-topic-13.jpg" alt="エフ商会(EFU CO.,INC)ロゴ")
		p アメカジブランドエフ商会




