//- h1 RODEO BROS - メンズセレクトショップ
//- h2 RODEO BROSが選定したメンズファッションブランド
//- //以下を繰り返す。
//- h3 東洋エンタープライズ
//- p 説明
//- a(href="aaa" title="東洋エンタープライズの商品一覧ページに遷移します。") 楽天店
//- a(href="aaa" title="東洋エンタープライズの商品一覧ページに遷移します。") Yahoo店
//- a(href="aaa" title="東洋エンタープライズの商品一覧ページに遷移します。") DeNA
//- a(href="aaa" title="東洋エンタープライズの商品一覧ページに遷移します。") 公式