@import '../../../common/scss/normalize';
@import '../../../common/scss/utility';
@import '../../../common/scss/base';

.col-sm-2 {
	padding-right: 7px!important;
	padding-left: 7px!important;
}

.top-image-box {
	
}

.fixed-width{
	max-width: 780px;
}

.page-title {
	width: 100%;
	height: 3em;
	line-height: 2.7;
	font-size: 1.3em;
	letter-spacing: 1px;
	a {
		color: #000;
		text-decoration: none;

		&:hover {
			color: #0044CC;
			text-decoration: underline;
		}
	}

}

.items {

	width:195px;

	p{
		margin-top: 0;
	}

	a:hover {
		text-decoration: none;
	}

}

.items-inner-box {
	border:1px solid #ddd;
}

.items__header img {
	border-bottom: 1px solid #ddd;
	width: 163px;
	height: 163px;

	&:hover {
		opacity: 0.7;
		transition:all 0.5s;
	}
}

.mb-mm-overload {
	margin-bottom: 1.3em;
}

.mb-ss-overload {
	margin-bottom: 0.5em;
}

.brand {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0;
		margin-left: 0.6em;
		color:#878787;
		letter-spacing: 1px;
}

.name {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0;
		margin-bottom: 0.3em;
		margin-left: 0.6em;
		color:#878787;
		letter-spacing: 1px;
}

.price-menu-box {
	clear: both;
	display: block;
}


.allItemsButton-box {

	clear: both;

	a:hover {
		text-decoration: none;
	}
	
	p {
		width: 32%;
		margin:0 auto;
		padding:0.8em 0;
	}

}

.big-banner-wrapper a {
  color:#000;
  text-decoration:none;
}

.item-pages-banner-wrapper {
  text-align: center;
}

.newarrivalInHeader {
	margin: 0 auto;
	margin-top: 1em;
}

.items__body p {
	border: none;
}

//  a {
//   color:#0044CC;
//   text-decoration:underline;
// }


@media (max-width: 768px) {

.allItemsButton-box {
	
	p {
		width: 80%;
	}

}

.col-sm-2 {
	width: 16.66%;
	float: left;
}
}