div.headerTopFixed
	ul
		li.col-sm-3

		li.col-sm-6
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/" target="_top")
				img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/logo.png")
		li.col-sm-3
	ul
		li.col-sm-3
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/" target="_top") メニュー
		li.col-sm-3
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/" target="_top") 新着商品
		li.col-sm-3
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist1/" target="_top") ブランド
		li.col-sm-3
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/backnumber.html" target="_top") 特集ページ

