div.section2
  a(target="_top" href="http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5bfa52.html?n=50&X=99#CentItemList1" title="新着商品一覧ページ。毎日、新しく入荷した商品を紹介しています。")
    img.mb-ss(src="http://shopping.c.yimg.jp/lib/rodeobros/new0.jpg" alt="プラスのアイコン")
  a(target="_top" href="http://shopping.geocities.jp/rodeobros/bestseller/index.html" title="当店人気の商品、ベストセラー")
    img.mb-ss(src="http://www.rakuten.ne.jp/gold/auc-rodeo/SideBarAssets/img/left_best.jpg" alt="王冠のアイコン")
  a(target="_top" href="http://shopping.geocities.jp/rodeobros/backnumber.html" title="ロデオブロスの特集ページ。様々なカテゴリーの服をピックアップ。")
    img.mb-ss(src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/leftnabi/topic3.jpg" alt="星型のアイコン")
  a(target="_top" href="http://shopping.geocities.jp/rodeobros/" title="ロデオブロスのホームページ。アメカジを中心とした豊富なブランド商品を扱っています。")
    img.mb-ss(src="http://www.rakuten.ne.jp/gold/auc-rodeo/SideBarAssets/img/toppage.jpg" alt="ロデオブロスホームページ")
  a(target="_top" href="https://snlweb.shopping.yahoo.co.jp/shp_snl/optin/select/rodeobros" title="メルマガ登録")
    img.mb-ss(src="http://www.rakuten.ne.jp/gold/auc-rodeo/SideBarAssets/img/left_mail.jpg" alt="メルマガ登録")
  a(target="_top" href="http://store.shopping.yahoo.co.jp/rodeobros/a5a2a5a6a5.html" title="ロデオブロスのホームページ。アメカジを中心とした豊富なブランド商品を扱っています。")
    img.mb-ss(src="http://shopping.c.yimg.jp/lib/rodeobros/outlet.jpg" alt="ロデオブロスホームページ")