h1.reserve-title 当店別注商品
div.reserve
	div.items
		a(href="http://store.shopping.yahoo.co.jp/rodeobros/kav-201.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/vanson/kav-201-0.jpg?_ex=200x200")
			p バンソン ポロシャツ

	div.items
		a(href="http://store.shopping.yahoo.co.jp/rodeobros/nvbl-206.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/vanson/nvbl-206-0.jpg?_ex=200x200")
			p バンソン ジーンズ
	div.items
		a(href="http://store.shopping.yahoo.co.jp/rodeobros/53511-b.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/53511-0.jpg?_ex=200x200")
			p ディズニー パーカー

	div.items
		a(href="http://store.shopping.yahoo.co.jp/rodeobros/55501.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/disney/55501-0.jpg?_ex=200x200")
			p スウィート ミッキー Tシャツ

	div.items
		a(href="http://store.shopping.yahoo.co.jp/rodeobros/imlt-312.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/indianmotorcycle/imlt-312-0.jpg?_ex=200x200")
			p インディアンモトサイクル

	div.items
		a(href="http://store.shopping.yahoo.co.jp/rodeobros/461-302.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/yoroi/461-302-0.jpg?_ex=200x200")
			p 鎧-YOROI デニム カバーオール

	div.items
		a(href="http://store.shopping.yahoo.co.jp/rodeobros/kav-101.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/yoroi/kav-101-1.jpg?_ex=200x200")
			p カーディガン YOROI 鎧
	div.items
		a(href="http://store.shopping.yahoo.co.jp/rodeobros/rsbl-201.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/rsbl-201-0.jpg?_ex=200x200")
			p さとり 和柄 デニム
	//- div.items
	//- 	a(href="http://store.shopping.yahoo.co.jp/rodeobros/rsbs-201.html", target="_top")
	//- 		img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/rodeobros/rsbs-201-1.jpg?_ex=200x200")
	//- 		p さとり 和柄 チノ
