.section4
	p.round-corner CATEGORY / アイテム一覧
	ul
		li
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/tops28a5c8.html') TOPS / トップス
		li
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/outer28a5a.html') OUTER / アウター
		li
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bottoms28a.html') BOTTOMS / ボトムス
		li
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/item28a5a2.html') ACCESSORY / アクセサリー
a#OVERLAYCATEGORY.moreButton(target='_top', href='http://shopping.geocities.jp/rodeobros/categorylist/') カテゴリー一覧