div.section1
	a(target="_top" href="http://shopping.geocities.jp/rodeobros/totalcoorde-all/index.html" title="ロデオブロスが勧めるトータルコーディネート一覧ページ")
		img.mb-ss(src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/total_0601_12.jpg" alt = "オススメの商品を着たモデルの画像")
		| TOTAL COORDINATE 一覧へ