div.text-center.top-image-box.col-sm-12
	img.mb-ll(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/category/ted_cate.jpg")
	p.mb-ml 第二次世界大戦以来、戦意高揚の為にさまざまな部隊マスコットが誕生した。 その中でも一際異彩を放ったのが「レッドデビル」である。 テッドマンは、このデビルにインスパイアされ、その後タトゥーと化し、アンダーグランドに生きる者達の証しとなった いつしか、悪魔小僧のTATTOOが口から噴き出す炎により、邪鬼を吹き飛ばし身に付けている者にラッキーを招く！ と云う噂が伝承され、このTATTOOをバイカーやロッカーなどアングラ系の若者達がこぞって腕や肩に刺した。
	p.mb-mm.campain-text 2016年の新作、TEDMANの半袖Tシャツが入荷しました。
	p.mb-ml


div.hanger.mb-ll
	img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/icon/hanger0.png" alt="ハンガー")

div#Vue
	div(v-for = "element in Data" ).items.col-sm-6.text-center
		a(href="{{ element.number }}")
			div.items__header
				img.lazy(data-original="{{ element.image }}" src="./load.gif").mb-sm
			div.items__body
				p.brand {{ element.brand }}
				p.name.mb-ll {{ element.name }}
