div.top-menu
	ul.text-center
		li.col-sm-2
			a(href="#01") レギュラー
		li.col-sm-2
			a(href="#02") スキニー
		li.col-sm-2
			a(href="#03") タイト
		li.col-sm-2
			a(href="#04") テーパード
		li.col-sm-2
			a(href="#05") ジャケット
		li.col-sm-2
			a(href="#01") 鬼デニム一覧

div.textbox
	p.textbox__texts.text-center.mb-ml
		span 幻と謳われるデニム
		br
		| 鬼デニムは、たった一人の老職人に頼っています。
		br
		| 鬼デニムの生地を織る機械は古く、経験豊富な職人の手でなければ扱えない。
		br
		| この老職人はすでに７０代半ばというご高齢の方。
		br
		| 老職人の生産能力には、限界があり、鬼デニムは一切の取材、雑誌掲載を基本的に断っています。
		br
		| 職人芸の傑作。それが鬼デニム。
		br
		a.tintColor(href="#01") 鬼デニム商品一覧 ＞
div.imagebox.mb-ll.text-right
	img(src="http://image.rakuten.co.jp/auc-rodeo/cabinet/amazon2/oni-502zr-0.jpg")
	a(href="http://www.aun-wa.com/SHOP/oni-502zr.html") 金子昇さん着用商品 : 20オンス ローライズ スキニーデニム

div.textbox
	p.textbox__texts.text-center.mb-ll
		span 凹凸感のある独特の生地
		br
		| ざらざらとしたその独特な生地は、素晴らしい縦落ちを生み出します。
		br
		| 着用すればするほど、唯一無二の存在に。
		br
		a.tintColor(href="#01") 鬼デニム商品一覧 ＞
div.imagebox.mb-ll.text-right
	img(src="http://image.rakuten.co.jp/auc-rodeo/cabinet/amazon2/oni-517xxbe-0.jpg")
	a(href="http://www.aun-wa.com/SHOP/oni-517xxbe.html") 16.5オンス セルビッチ タイト ストレートデニム

//ここから商品ならべる。
div.hanger.mb-ll
	img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/icon/hanger0.png" alt="ハンガー")

div#01.itemsouter.text-center
	p レギュラーストレート
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-288.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/oni-288-0.jpg?_ex=430x430&s=2&r=1")
				| 20オンス ジーンズ レギュラー ストレート
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-562.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/oni/oni-562-0.jpg?_ex=430x430") 
				| 14オンス セルヴィッジ ストレート ジーンズ
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-902.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/oni/oni-902-1.jpg?_ex=430x430")
				| レギュラーストレートデニム

div#02.itemsouter.text-center
	p スキニー
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-502zr.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/oni-502zr-0.jpg?_ex=430x430")
				| 20オンス　ローライズ　スキニーデニム
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-512xxbe.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/oni-512-0.jpg?_ex=430x430")
				| 16.5オンス セルビッチ リラックススキニーデニム
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-512-o.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/oni/oni-512-o-0.jpg?_ex=430x430")
				| リラックス スキニー セルヴィッジ テーパード ジーンズ

div#03.itemsouter.text-center
	p タイト
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-517xxbe.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/oni-517xxbe-0.jpg?_ex=430x430")
				| 16.5オンス セルビッチ タイト ストレートデニム
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-546zr.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/oni-546zr-0.jpg?_ex=430x430") 
				| 20オンス タイトフィットストレートデニム
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-546olzr.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/oni-546olzr-0.jpg?_ex=430x430")
				| 20オンス タイトフィットストレートデニム

div#04.itemsouter.text-center
	p テーパード
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-512xxbe.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/oni-512-0.jpg?_ex=430x430")
				| 16.5オンス セルビッチ リラックススキニーデニム
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-517-o.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/oni/oni-517-o-0.jpg?_ex=430x430") 
				| セルヴィッジ テーパード ジーンズ
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-512-o.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/oni/oni-512-o-0.jpg?_ex=430x430")
				| リラックス スキニー セルヴィッジ テーパード ジーンズ

div#05.itemsouter.text-center
	p ジャケット
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-02527zr.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/oni/oni-02527zr-0.jpg")
				| 20オンス 鬼デニム ジャケット
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-02517xxbe.html")
				img(src="http://image.rakuten.co.jp/auc-rodeo/cabinet/amazon2/oni-02517xxbe-0.jpg")
				| 16.6オンス 鬼デニム ジャケット XXBE
		div.itemsbox.col-sm-4.mb-ll
			a(href="http://www.aun-wa.com/SHOP/oni-02517hox.html")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/oni/oni-02517hox-0.jpg")
				| カーキ ブラウン 鬼デニム ジャケット

div#goToTop
	img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/img/top2.png")
//- div.allItemsButton-box.mb-ll.clear
//- 	a(href="http://www.aun-wa.com/SHOP/c/0000001347.html") 
//- 		p.myButtonWhiteBlack 東洋エンタープライズ商品 一覧へ