.selectedBrands
			h2.sectionTitle SELECTED BRANDS
			ul.items.row
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002523/', title='ALPHA')
								img.lazy(src="./load1000x1000.gif" alt='ALPHA', title='ALPHA', data-original='img/01.jpg')
							figcaption
								h3 ALPHA
								p Military Brand ALPHA Since 1959
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002523/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001317/', title='IRON HEART')
								img.lazy(src="./load1000x1000.gif" alt='IRON HEART', title='IRON HEART', data-original='img/05.jpg')
							figcaption
								h3 IRON HEART
								p The Brand of Bikers, by Bikers, for Bikers
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001317/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002220/', title='ONI DENIM')
								img.lazy(src="./load1000x1000.gif" alt='ONI DENIM', title='ONI DENIM', data-original='img/06.jpg')
							figcaption
								h3 ONI DENIM
								p Only One Masterpiece Brand by The Old Craftsman
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002220/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002557/', title='THE FLAT HEAD')
								img.lazy(src="./load1000x1000.gif" alt='THE FLAT HEAD', title='THE FLAT HEAD', data-original='img/07.jpg')
							figcaption
								h3 THE FLAT HEAD
								p Fusion of Old Days American Taste And Modernity
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002557/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002482/', title='DISNEY')
								img.lazy(src="./load1000x1000.gif" alt='DISNEY', title='DISNEY', data-original='img/03.jpg')
							figcaption
								h3 DISNEY
								p Collaboration with The World Disney
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002482/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001347/', title='TOYO ENTERPRISE')
								img.lazy(src="./load1000x1000.gif" alt='TOYO ENTERPRISE', title='TOYO ENTERPRISE', data-original='img/02.jpg')
							figcaption
								h3 TOYO ENTERPRISE
								p Create Only One Original Japanese  " clothes "
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001347/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001349/', title='BUZZ RICKSON')
								img.lazy(src="./load1000x1000.gif" alt='BUZZ RICKSONS', title='BUZZ RICKSONS', data-original='img/12.jpg')
							figcaption
								h3 BUZZ RICKSON'S
								p Thoroughly Study The Vintage
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001349/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001351/', title='SUGAR CANE')
								img.lazy(src="./load1000x1000.gif" alt='SUGAR CANE', title='SUGAR CANE', data-original='img/11.jpg')
							figcaption
								h3 SUGAR CANE
								p Japan's First US Military Clothing Manufacturer
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001351/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001803/', title='VANSON')
								img.lazy(src="./load1000x1000.gif" alt='VANSON', title='VANSON', data-original='img/09.jpg')
							figcaption
								h3 VANSON
								p Continue to Pursue The Highest Quality of Leather Wear
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001803/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000000618/', title='EFU CO., INC')
								img.lazy(src="./load1000x1000.gif" alt='EFU CO., INC', title='EFU CO., INC', data-original='img/08.jpg')
							figcaption
								h3 EFU CO., INC
								p Awaken the Aesthetics of Japanese boys
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000000618/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002522/', title='MISTER FREEDOM')
								img.lazy(src="./load1000x1000.gif" alt='MISTER FREEDOM', title='MISTER FREEDOM', data-original='img/13.jpg')
							figcaption
								h3 MISTER FREEDOM
								p Just Like Clothes The Characters in The Play to Wear
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002526/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002355/', title='CROWS WORST')
								img.lazy(src="./load1000x1000.gif" alt='クローズワーストコラボアイテム', title='クローズ　ワースト', data-original='img/04.jpg')
							figcaption
								h3 CROWS WORST
								p The Comic Drawn By Hiroshi Takahashi
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002355/')
								button.btn.btn-default MORE
			.text-center
				a(href='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/brand-list.html')
					button.morebtn.btn.btn-default ブランド一覧へ
