.section0.text-center
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002285/')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/images/selected-brands/09.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/selected-brands/09.jpg', style='display: inline;')
				p.mb-ss VANSON 商品一覧
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002284/')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/vanson/02.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/vanson/02.jpg', style='display: inline;')
				p.mb-ss VANSON トップス一覧
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002285/')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/vanson/01.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/vanson/01.jpg', style='display: inline;')
				p.mb-ss VANSON アウター一覧
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002385/')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/vanson/03.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/vanson/03.jpg', style='display: inline;')
				p.mb-ss VANSON ボトムス一覧
			a(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall/vanson+%E5%B8%BD%E5%AD%90/-/sid.235529-st.A')
				img.lazy(data-original='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/vanson/04.jpg', src='http://www.rakuten.ne.jp/gold/auc-rodeo/sp-category/vanson/04.jpg', style='display: inline;')
				p.mb-ss VANSON 帽子