.section4
	p.round-corner CATEGORY / アイテム一覧
	ul
		li
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000632/') TOPS / トップス
		li
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000633/') OUTER / アウター
		li
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000631/') BOTTOMS / ボトムス
		li
			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000634/') ACCESSORY / アクセサリー
a#OVERLAYCATEGORY.moreButton(target='_top', href='http://www.rakuten.ne.jp/gold/auc-rodeo/categorylist/') カテゴリー一覧