div.headerBrandList#brandContent
	ul
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001347/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/toyoenterprise.png')
					div.brand__body
						p.brand__nameEng TOYO ENTERPRISE
						p.brand__nameJa 東洋エンタープライズ
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001349/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/buzzricksons.png')
					div.brand__body
						p.brand__nameEng BUZZ RICKSON'S
						p.brand__nameJa バズリクソンズ
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001317/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/ironheart.png')
					div.brand__body
						p.brand__nameEng IRON HEART
						p.brand__nameJa アイアンハート
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002220/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/onidenim.png')
					div.brand__body
						p.brand__nameEng ONI DENIM
						p.brand__nameJa 鬼デニム
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002523/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/alpha.png')
					div.brand__body
						p.brand__nameEng ALPHA
						p.brand__nameJa アルファ
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000618/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/selected-brands/tedman2.png')
					div.brand__body
						p.brand__nameEng EFU CO., INC
						p.brand__nameJa エフ商会
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000620/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/tedman.png')
					div.brand__body
						p.brand__nameEng TEDMAN
						p.brand__nameJa テッドマン
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002322/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/kaminari.png')
					div.brand__body
						p.brand__nameEng KAMINARI
						p.brand__nameJa カミナリ
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001803/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/vanson.png')
					div.brand__body
						p.brand__nameEng VANSON
						p.brand__nameJa バンソン
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002557/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/theflathead.png')
					div.brand__body
						p.brand__nameEng THE FLAT HEAD
						p.brand__nameJa フラットヘッド
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002482/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/disney.png')
					div.brand__body
						p.brand__nameEng Disney
						p.brand__nameJa ディズニー
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002355/')
					div.brand__header
						img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/crowsworst.png')
					div.brand__body
						p.brand__nameEng CRWOS x WORST
						p.brand__nameJa クローズワースト
		div.text-center
			a(target='_top', href='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist1/')
				button.btn.btn-default ブランド一覧へ