div.sp
	ul
		li.sp__menu#js-sp-menu
			span.fa.fa-bars
		li.sp__logo
			a(href="")
				img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/logo-white.png")
		li.sp__cart
			span.fa.fa-shopping-cart
div.menu__outerbox
	div.menu
		ul.menu__top
			li
				a(herf="") 新着商品
			li
				a(herf="") トップス
			li
				a(herf="") アウター
			li
				a(herf="") ボトムス
			li
				a(herf="") アクセサリー
			li
				a(herf="") ブランド一覧へ
			li
				a(herf="") 特集一覧へ
			li
				a(herf="") ユーザーレビュー
			li
				a(herf="") ショッピングガイド
			li
				a(herf="") お問い合わせ
			li
				a(herf="") 採用情報
		ul.menu__sns
			li
				a(href="") 
					span.fa.fa-envelope
					| メールマガジン
			li
				a(href="") 
					span.fa.fa-twitter-square
					| Twitter
			li
				a(href="") 
					span.fa.fa-facebook-official
					| Facebook
			li
				a(href="") 
					span.fa.fa-instagram
					| Instagram
