div.headerTopicList#topicContent
	ul.list-unstyled
		li.col-sm-3
			a.item(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall/alpha+%E3%83%90%E3%83%83%E3%82%B0+%E3%83%93%E3%82%B8%E3%83%8D%E3%82%B9/-/f.1-p.1-s.1-sf.0-sid.235529-st.A-v.3')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-14.jpg')
					figcaption
						h3 ALPHA BAG
						p 【新生活応援】ビジネスバッグ
		li.col-sm-3
			a.item(target='_top', href='http://search.rakuten.co.jp/search/inshop-mall?f=1&v=3&sid=235529&uwd=1&s=1&p=1&sitem=0494400%E3%80%800481000%E3%80%800493100%E3%80%800484500&st=O&nitem=&min=&max=')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-13.jpg')
					figcaption
						h3 ALPHA BAG
						p 【新生活応援】カジュアルバッグ
		li.col-sm-3
			a.item(target='_top', href='http://www.rakuten.ne.jp/gold/auc-rodeo/ironheart/')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-15.jpg')
					figcaption
						h3 IRON HEART
						p 【2016年新作入荷】アイアンハート特集
		li.col-sm-3
			a.item(target='_top', href='http://www.rakuten.ne.jp/gold/auc-rodeo/tedmantee/')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-12.jpg')
					figcaption
						h3 TEDMAN Short Sleeve T-Shirts
						p 【2016年新作入荷】テッドマン半袖Tシャツ 
	div.text-center
		a(target='_top', href='http://www.rakuten.ne.jp/gold/auc-rodeo/backnumber.html')
			button.btn.btn-default 特集一覧へ