.title
	| TOPS 
	span トップス
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411535/list.html')
		img(src='img/header/category/tshirt_icon.png')
		.brandname
			a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411535/list.html') T-Shirts
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411752/list.html')
		img(src='img/header/category/ss_shirt_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411752/list.html') Short Sleeve Shirts
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411803/list.html')
		img(src='img/header/category/polo_shirt_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411803/list.html') Polo Shirts
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411745/list.html')
		img(src='img/header/category/ls_shirt_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411745/list.html') Long Sleeve T-Shirts
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411838/list.html')
		img(src='img/header/category/ls_shirt_0_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411534/411838/list.html') Long Sleeve Shirts
.title
	| OUTER
	span アウター
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411884/list.html')
		img(src='img/header/category/trackjacket_icon.png')
		.brandname
			a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411884/list.html') Track Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%BB%E3%83%BC%E3%82%BF%E3%83%BC')
		img(src='img/header/category/sweater_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%BB%E3%83%BC%E3%82%BF%E3%83%BC') Sweater
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AB%E3%83%BC%E3%83%87%E3%82%A3%E3%82%AC%E3%83%B3')
		img(src='img/header/category/cardigan_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AB%E3%83%BC%E3%83%87%E3%82%A3%E3%82%AC%E3%83%B3') Cardigan
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411866/list.html')
		img(src='img/header/category/sweatshirt_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411866/list.html') Sweat
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411849/list.html')
		img(src='img/header/category/hoodie_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411849/list.html') Hoodie
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411845/list.html')
		img(src='img/header/category/souvenirjacket_0_icon.png')
		.brandname
			a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411845/list.html') Souvenir Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411905/list.html')
		img(src='img/header/category/denimjacket_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411905/list.html') Denim Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%A9%E3%82%A4%E3%83%80%E3%83%BC%E3%82%B9')
		img(src='img/header/category/riders_0_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%A9%E3%82%A4%E3%83%80%E3%83%BC%E3%82%B9') Riders Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411884/list.html')
		img(src='img/header/category/award_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411884/list.html') Award Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411896/list.html')
		img(src='img/header/category/military_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411844/411896/list.html') Military Jacket
.title
	| BOTTOMS
	span ボトムス
// BOTTOMS
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411347/411349/list.html')
		img(src='img/header/category/jeans_icon.png')
		.brandname
			a(target='_top', href='http://www.aun-wa.com/SHOP/411347/411349/list.html') Jeans
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%81%E3%83%8E%E3%80%80%E3%83%91%E3%83%B3%E3%83%84')
		img(src='img/header/category/chino_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%81%E3%83%8E%E3%80%80%E3%83%91%E3%83%B3%E3%83%84') Chino
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AF%E3%83%AD%E3%83%83%E3%83%97%E3%83%89%E3%80%80%E3%83%91%E3%83%B3%E3%83%84')
		img(src='img/header/category/cropped_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AF%E3%83%AD%E3%83%83%E3%83%97%E3%83%89%E3%80%80%E3%83%91%E3%83%B3%E3%83%84') Cropped
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411347/411494/list.html')
		img(src='img/header/category/easy_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411347/411494/list.html') Easy
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411347/411501/list.html')
		img(src='img/header/category/shorts_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411347/411501/list.html') Shorts
div(style='clear:both')
.title
	| ACCESORIES
	span アクセサリー
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411913/list.html')
		img(src='img/header/category/cap_icon.png')
		.brandname
			a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411913/list.html') Cap
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%96')
		img(src='img/header/category/glove_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%B0%E3%83%AD%E3%83%BC%E3%83%96') Globe
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411923/list.html')
		img(src='img/header/category/belt_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411923/list.html') Belt
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411917/list.html')
		img(src='img/header/category/bag_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411912/411917/list.html') Bag
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411912/412146/list.html')
		img(src='img/header/category/shoes_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411912/412146/list.html') Shoes
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411912/443430/list.html')
		img(src='img/header/category/wallet_icon.png')
		.brandname
			a(target='_top', href='http://www.aun-wa.com/SHOP/411912/443430/list.html') Wallet
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%A6%E3%82%A9%E3%83%83%E3%83%81')
		img(src='img/header/category/watch_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%A6%E3%82%A9%E3%83%83%E3%83%81') Watch
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AD%E3%83%BC%E3%82%B1%E3%83%BC%E3%82%B9')
		img(src='img/header/category/keycase_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%AD%E3%83%BC%E3%82%B1%E3%83%BC%E3%82%B9') Keycase
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411912/546367/list.html')
		img(src='img/header/category/zippo_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411912/546367/list.html') Zippo
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%A2%E3%82%A4%E3%82%A6%E3%82%A7%E3%82%A2')
		img(src='img/header/category/eyewear-_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%82%A2%E3%82%A4%E3%82%A6%E3%82%A7%E3%82%A2') Eyeware
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%84%E3%83%8A%E3%82%AE')
		img(src='img/header/category/coverall_icon.png')
		.brandname
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E3%83%84%E3%83%8A%E3%82%AE') Coverall
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/411912/412140/list.html')
		img(src='img/header/category/underwear_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/411912/412140/list.html') Underwear
.brandbox1.col-sm-2
	a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E6%89%87%E5%AD%90')
		img(src='img/header/category/sensu_icon.png')
		.brandname1
			a(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%E6%89%87%E5%AD%90') Fan
div(style='clear:both')