
article
	//商品一覧ここから
	div.l-main.main-box
		
		div#Vue
			//アウター一覧ここから
			h1#spTitleOuter.main__category-title-sp.visible-xs.u-mb-small.u-clear アウター
			div.main__items.outers.visible-xs
				div(v-for="element in Outers").items-box.two-columns.text-center.u-mb-small
						a(href="{{ element.number }}")
							div.items__header
								img(src="{{ element.image }}")
							p.brand {{ element.brand }}
							p.name {{ element.name }}

			//トップス一覧ここから
			h1#spTitleTops.main__category-title-sp.visible-xs.u-mb-small トップス
			div.main__items.tops.visible-xs.u-mb-large
				div(v-for="element in Tops").items-box.two-columns.text-center.u-mb-small
						a(href="{{ element.number }}")
							div.items__header
								img(src="{{ element.image }}")
							p.brand {{ element.brand }}
							p.name {{ element.name }}

			//ボトムス一覧ここから
			h1#spTitleBottom.main__category-title-sp.visible-xs.u-mb-small.u-clear ボトムス
			div.main__items.bottoms.visible-xs.u-mb-large
				div(v-for="element in Bottoms").items-box.two-columns.text-center.u-mb-small
						a(href="{{ element.number }}")
							div.items__header
								img(src="{{ element.image }}")
							p.brand {{ element.brand }}
							p.name {{ element.name }}
							
			//アクセサリー一覧ここから
			h1#spTitleAccesories.main__category-title-sp.visible-xs.u-mb-small.u-clear アクセサリー
			div.main__items.visible-xs.accesories.u-mb-large
				div(v-for="element in Accesories").items-box.two-columns.text-center.u-mb-small
						a(href="{{ element.number }}")
							div.items__header
								img(src="{{ element.image }}")
							p.brand {{ element.brand }}
							p.name {{ element.name }}
							

		//- template#VueTopsTemplate
		//- 	//- each element, index in Tops
		//- 	div(v-for="element in Tops").items-box.two-columns.text-center.u-mb-small
		//- 		a(href="{{ element.number }}")
		//- 			div.items__header
		//- 				img(src="{{ element.image }}")
		//- 			p.brand {{ element.brand }}
		//- 			p.name {{ element.name }}
		//- 			p.price {{ element.price }}
		






	//メインコンテツここまで