header
	div.l-header.header-box.u-mb-mid.hidden-xs
		//メインへっだー
		iframe(src='http://shopping.geocities.jp/rodeobros/itemheader1/', width='100%', height='650', scrolling='no', frameborder='1', style='border:none; display:block;position:relative; z-index:9999; background:#fff;')
	//スマフォ用へっだー
	div.l-sp-header.header-sp-box.visible-xs
		ul
			li.header-sp--menu
				a(href="")
					img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/icon/cart_header_black.png")
			li.header-sp--logo
				a(href="http://shopping.geocities.jp/rodeobros/")
					img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/rodeo_header_logo.png")
			li.header-sp--cart
				a(href="https://order.shopping.yahoo.co.jp/cgi-bin/cart-form?sc_i=shp_pc_store_MHD_cart")
					img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/icon/cart_header_white.png")