//レフトナビここから
aside#fixedBox.beforeFixed
	div.l-nav
		div.nav__category.u-mb-mid
			h1.nav__title ベストセラー
			ul
				li.nav__menu
					a(href="#itemsTops")
						p#nav__tops.active-black トップス
				li.nav__menu
					a(href="#itemsOuters")
						p#nav__outers アウター 
				li.nav__menu
					a(href="#itemsBottoms")
						p#nav__bottoms ボトムス
				li.nav__menu
					a(href="#itemsAccesories")
						p#nav__accesories アクセサリー
				//li.nav__menu
					p#nav__others > OTHERS
		div.nav__image-sizing.hidden-xs
			h2.nav__title 画像サイズ
			ul
				li
					p#large-images-sizing.active-black-for-size 大
				li
					p#mid-images-sizing 中
				li
					p#small-images-sizing 小
//レフトナビここまで