div.headerBrandList#brandContent
	ul
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/list.php?Search=%C5%EC%CD%CE')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/toyoenterprise.png')
						.brand__body
							p.brand__nameEng TOYO ENTERPRISE
							p.brand__nameJa 東洋エンタープライズ
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g29408/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/toyoenterprise.png')
						.brand__body
							p.brand__nameEng BUZZ RICKSONS'
							p.brand__nameJa バズリクソンズ
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g42521/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/ironheart.png')
						.brand__body
							p.brand__nameEng IRON HEART
							p.brand__nameJa アイアンハート
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g123507/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/onidenim.png')
						.brand__body
							p.brand__nameEng ONI DENIM
							p.brand__nameJa 鬼デニム
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g145594/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/alpha.png')
						.brand__body
							p.brand__nameEng ALPHA
							p.brand__nameJa アルファ
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/list.cgi?Search=%a5%a8%a5%d5%be%a6%b2%f1')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/selected-brands/tedman2.png')
						.brand__body
							p.brand__nameEng EFU CO., INC
							p.brand__nameJa エフ商会
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g29396/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/tedman.png')
						.brand__body
							p.brand__nameEng TEDMAN
							p.brand__nameJa テッドマン
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g126742/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/	kaminari.png')
						.brand__body
							p.brand__nameEng KANIMARI
							p.brand__nameJa カミナリ
		
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g44062/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/vanson.png')
						.brand__body
							p.brand__nameEng VANSON
							p.brand__nameJa バンソン
		
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g146156/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/theflathead.png')
						.brand__body
							p.brand__nameEng THE FLAT HEAD
							p.brand__nameJa フラットヘッド
		
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g42669/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/disney.png')
						.brand__body
							p.brand__nameEng Disney
							p.brand__nameJa ディズニー
		li.col-sm-3
			div.brand__wrapper
				a.brand(target='_top', href='http://www.aun-wa.com/SHOP/g140014/list.html')
						.brand__header
							img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/crowsworst.png')
						.brand__body
							p.brand__nameEng CRWOS x WORST
							p.brand__nameJa クローズワースト
		div.text-center
			a(target='_top', href='http://www.aun-wa.com/brand-list.html')
				button.btn.btn-default ブランド一覧へ