//送料無料などアイコン画像
div.headerInfo
		ul
			li.col-sm-2
				a(target='_top' href='http://www.aun-wa.com/faq.html')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-001.jpg')
			li.col-sm-2
				a(target='_top' href='http://www.aun-wa.com/faq.html')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-002.jpg')
			li.col-sm-2
				a(target='_top' href='http://www.aun-wa.com/faq.html')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-003.jpg')
			li.col-sm-2
				a(target='_top' href='http://www.aun-wa.com/faq.html')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-004.jpg')
			li.col-sm-2
				a(target='_top' href='http://www.aun-wa.com/SHOP/list.cgi')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-005.jpg')
			li.col-sm-2
				a(target='_top' href='mailto:rodeo@aun-wa.com')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-006.jpg')