div.headerTopicList#topicContent
	ul.list-unstyled
		li.col-sm-3
			a.item(target='_top', href='http://www.aun-wa.com/SHOP/g145594/list.html')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-14.jpg')
					figcaption
						h3 ALPHA BAG
						p 【新生活応援】ビジネスバッグ
		li.col-sm-3
			a.item(target='_top', href='http://www.aun-wa.com/SHOP/g145594/list.html')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-13.jpg')
					figcaption
						h3 ALPHA BAG
						p 【新生活応援】カジュアルバッグ
		li.col-sm-3
			a.item(target='_top', href='http://www.aun-wa.com/ironheart/')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-15.jpg')
					figcaption
						h3 IRON HEART
						p 【2016年新作入荷】アイアンハート特集
		li.col-sm-3
			a.item(target='_top', href='http://www.aun-wa.com/tedmantee/')
					img(alt='', src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-12.jpg')
					figcaption
						h3 TEDMAN Short Sleeve T-Shirts
						p 【2016年新作入荷】テッドマン半袖Tシャツ 
	div.text-center
		a(target='_top', href='http://www.aun-wa.com/backnumber.html')
			button.btn.btn-default 特集一覧へ