.title
	| TOPS 
	span トップス
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/c8bec2b5ta.html')
		img(src='img/header/category/tshirt_icon.png')
		.brandname
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/c8bec2b5ta.html') T-Shirts
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/b52cb58e2ac.html')
		img(src='img/header/category/ss_shirt_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/b52cb58e2ac.html') Short Sleeve Shirts
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dda5eda5.html')
		img(src='img/header/category/polo_shirt_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dda5eda5.html') Polo Shirts
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/c4b9c2b5ta.html')
		img(src='img/header/category/ls_shirt_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/c4b9c2b5ta.html') Long Sleeve T-Shirts
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/5cbc4a2529b.html')
		img(src='img/header/category/ls_shirt_0_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/5cbc4a2529b.html') Long Sleeve Shirts
.title
	| OUTER
	span アウター
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%B8%A5%E3%A1%BC%A5%B8&view=grid')
		img(src='img/header/category/trackjacket_icon.png')
		.brandname
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%B8%A5%E3%A1%BC%A5%B8&view=grid') Track Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/sweaters28.html')
		img(src='img/header/category/sweater_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/sweaters28.html') Sweater
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5aba1bca5.html')
		img(src='img/header/category/cardigan_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5aba1bca5.html') Cardigan
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5a6a5.html')
		img(src='img/header/category/sweatshirt_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5a6a5.html') Sweat
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/aa25b1d1a5c.html')
		img(src='img/header/category/hoodie_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/aa25b1d1a5c.html') Hoodie
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5aba5.html')
		img(src='img/header/category/souvenirjacket_0_icon.png')
		.brandname
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5aba5.html') Souvenir Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5c7a5cba59.html')
		img(src='img/header/category/denimjacket_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5c7a5cba59.html') Denim Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%E9%A5%A4%A5%C0%A1%BC%A5%B9&view=grid')
		img(src='img/header/category/riders_0_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%E9%A5%A4%A5%C0%A1%BC%A5%B9&view=grid') Riders Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5bfa5.html')
		img(src='img/header/category/award_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5bfa5.html') Award Jacket
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dfa5eaa5.html')
		img(src='img/header/category/military_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dfa5eaa5.html') Military Jacket
.title
	| BOTTOMS
	span ボトムス
// BOTTOMS
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/denim28a5c.html')
		img(src='img/header/category/jeans_icon.png')
		.brandname
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/denim28a5c.html') Jeans
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/chino28a5c.html')
		img(src='img/header/category/chino_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/chino28a5c.html') Chino
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%AF%A5%ED%A5%C3%A5%D7%A5%C9&view=grid')
		img(src='img/header/category/cropped_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%A5%AF%A5%ED%A5%C3%A5%D7%A5%C9&view=grid') Cropped
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/easy28a5a4.html')
		img(src='img/header/category/easy_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/easy28a5a4.html') Easy
.brandbox1.col-sm-2
	a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000638/')
		img(src='img/header/category/shorts_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/half28a5cf.html') Shorts
div(style='clear:both')
.title
	| ACCESORIES
	span アクセサリー
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/cbb9bbd2.html')
		img(src='img/header/category/cap_icon.png')
		.brandname
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/cbb9bbd2.html') Cap
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bceac2de.html')
		img(src='img/header/category/glove_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bceac2de.html') Globe
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5d9a5eba5.html')
		img(src='img/header/category/belt_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5d9a5eba5.html') Belt
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5d0a5c3a5.html')
		img(src='img/header/category/bag_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5d0a5c3a5.html') Bag
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5cba1.html')
		img(src='img/header/category/shoes_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5cba1.html') Shoes
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bae2c9db.html')
		img(src='img/header/category/wallet_icon.png')
		.brandname
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bae2c9db.html') Wallet
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bbfeb7d7.html')
		img(src='img/header/category/watch_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/bbfeb7d7.html') Watch
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5ada1bca5.html')
		img(src='img/header/category/keycase_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5ada1bca5.html') Keycase
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/zippo.html')
		img(src='img/header/category/zippo_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/zippo.html') Zippo
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/25a55abf3a5.html')
		img(src='img/header/category/eyewear-_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/25a55abf3a5.html') Eyeware
//- .brandbox1.col-sm-2
//- 	a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002458/')
//- 		img(src='img/header/category/coverall_icon.png')
//- 		.brandname
//- 			a(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002458/') Coverall
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dca5afa5.html')
		img(src='img/header/category/underwear_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/a5dca5afa5.html') Underwear
.brandbox1.col-sm-2
	a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/sensu28c0f.html')
		img(src='img/header/category/sensu_icon.png')
		.brandname1
			a(target='_top', href='http://store.shopping.yahoo.co.jp/rodeobros/sensu28c0f.html') Fan
div(style='clear:both')