h1.text-center.mb-ll MAIL MAGAZINES
h5.text-center.mb-ll RODEO BROSは、メールマガジンを購読くださったお客様にだけ「新商品の入荷」や「お買い得な情報」をリアルタイムでお知らせしています。東洋エンタープライズやエフ商会などのアメカジ商品から絡繰魂、クロップドヘッズ、禅などの和柄アイテムまでバラエティに富んだ幅広いラインナップでお届けします。割引クーポン情報やポイントアップキャンペーンなどの情報もお届けします。
	br
	br
	a.registor(href="http://www.rakuten.co.jp/auc-rodeo/news.html") メルマガ購読はこちらから
div#Vue
	div(v-for = "element in Souvenir" ).text-center.col-sm-4
		a(href="{{ element.file }}")
			p.date {{ element.date }}
			div.outerbox
				img(src="{{ element.image }}")
			p.title.mb-ll {{ element.title }}
				
				
