head
  meta(charset="utf-8")
  meta(name="keywords" content="IRON HEART,IRON HEART,BUZZ RICKSON'S,SUGAR CANE,MISTER FREEDOM,TEDMAN,KAMINARI,ONI DENIM,VANSON")
  meta(name="description" content="Mens' Fashion Select Shop RODEO BROS")
  title RODEO BROS
  link(rel="stylesheet" type="text/css" href="./css/style.css")
  meta(name="viewport" content="initial-scale=1")
