div.sp
	ul
		li.sp__menu#js-sp-menu
			span.fa.fa-search
			span.fa.fa-times
		li.sp__logo
			a(href="")
				img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/logo-white.png")
		li.sp__cart
			span.fa.fa-shopping-cart
div.menu__outerbox
	div.menu
		ul.menu__top

			li
				form.searchForm(target='_top', method='get', action='http://www.aun-wa.com/SHOP/list.cgi')
					.input-group
						input.form-control(type='text', name='Search', placeholder='検索する')
						span.input-group-btn
							button.btn.btn-default(type='submit', name='検索')
								img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/img/btn2.png")

			li
				a(href="http://www.aun-wa.com/SHOP/list.cgi") 新着商品
			li
				a(href="http://www.aun-wa.com/SHOP/411534/list.html") トップス
			li
				a(href="http://www.aun-wa.com/SHOP/411844/list.html") アウター
			li
				a(href="http://www.aun-wa.com/SHOP/411347/list.html") ボトムス
			li
				a(href="http://www.aun-wa.com/SHOP/411912/list.html") アクセサリー
			li
				a(href="http://www.aun-wa.com/brandlist1/") ブランド一覧へ
			li
				a(href="http://www.aun-wa.com/backnumber.html") 特集一覧へ
			li
				a(href="http://www.aun-wa.com/SHOP/rating_list.html") ユーザーレビュー
			li
				a(href="http://www.aun-wa.com/faq/") ショッピングガイド
			li
				a(href="info@aun-wa.com") お問い合わせ
			li
				a(href="http://www.aun-wa.com/recruit/") 採用情報
		ul.menu__sns
			li
				a(href="http://www.aun-wa.com/SHOP/mailmag.html")
					span.fa.fa-envelope
					| メールマガジン
			li
				a(href="https://twitter.com/rodeobros")
					span.fa.fa-twitter-square
					| Twitter
			li
				a(href="https://www.facebook.com/Rodeobros")
					span.fa.fa-facebook-official
					| Facebook
			li
				a(href="https://www.instagram.com/rodeo_bros/")
					span.fa.fa-instagram
					| Instagram
