div.images
	img.col-sm-6(src="./img/acce_0115_2.jpg")
	img.col-sm-6(src="./img/acce_0115_1.jpg")
	img.col-sm-6(src="./img/acce_0115_3.jpg")
	img.col-sm-6(src="./img/acce_0115_4.jpg")
	img.col-sm-6(src="./img/acce_0115_5.jpg")
	img.col-sm-6(src="./img/acce_0115_6.jpg")

div.explanation
	h1 緑青（ろくしょう）とは
	p 緑青（炭酸銅）とは、真鍮や銅に発生する青緑色のさびで、クレヨンのような粘着性と金属臭があります。 
		br
		| 真鍮や銅を湿度や塩分の高い環境や、通気性の悪い箱などに長期間放置しておくと、金属表面の湿気を帯びた部分などにもりもりと発生します。 
		br 
		| 緑青は金属を腐食させるものではなく、金属の酸化を防止しようとして保護膜の役割として発生するそうです。（自由の女神や鎌倉大仏の緑色も緑青の緑色とのことです） 
	p アクセサリーに発生した場合、コケやカビのような外見でぎょっとするほか、肌や衣類などが触れると色移りしますが、毒性は無く、集めて大量に食べたりしない限り無害ですのでどうぞご安心ください。 
		br 
		| 金属表面についた緑青は、綿棒やつまようじ、カッターナイフなどで削ると簡単に取れ、肌についた色は石けんで水洗いすると簡単に落ちます。（布などについた色は落ちにくいのでご注意ください） 
		br 
		| 発生した緑青を放っておくと、元気にもりもりと増えていくばかりですので、みつけた時に早めに手入れしたほうが手間がかかりません。  
	p 緑青が細かい細工のアクセサリーなどについてしまい、削り取ることができないという場合は、
		span 酢と塩を混ぜた液で溶かして、緑青を取る方法もありますが、酢は真珠や大理石などを溶かしてしまい、画像のように金属もかなり変色することがありますので、ダメになっても構わないアクセサリーでのみお試しください。  
	p <酢と塩で緑青を除去する方法> 
		span ※アクセサリーパーツが溶けたり変色してしまう場合があります。
		|  紙コップなどに、アクセサリーが浸かるくらいの量の食酢を入れ、その半量程度の食塩を加え、割り箸などで食塩をかき混ぜて溶かします。（食塩が溶け残っても差し支えありません）アクセサリーを酢液の中に入れて観察し、緑青が溶けてなくなったらアクセサリーを引き上げます。アクセサリーを水ですすいだあと、石けんや食器用の洗剤などを泡立てて再度優しく水洗いし、タオルなど乾いた布ではさんで水分を吸い取ります。
