h1.reserve-title RESERVE / 予約開始
div.reserve
	div.items
		a(href="http://www.aun-wa.com/SHOP/525518.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/low/525518-0.jpg?_ex=200x200")
			p エヴァンゲリヲン×錦
	div.items
		a(href="http://www.aun-wa.com/SHOP/525517.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/low/525517-0.jpg?_ex=200x200")
			p エヴァンゲリヲン×錦
	div.items
		a(href="http://www.aun-wa.com/SHOP/525516.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/low/525516-0.jpg?_ex=200x200")
			p エヴァンゲリヲン×錦
	div.items
		a(href="http://www.aun-wa.com/SHOP/525515.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/low/525515-0.jpg?_ex=200x200")
			p エヴァンゲリヲン×錦
	div.items
		a(href="http://www.aun-wa.com/SHOP/55501.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/disney/55501-0.jpg?_ex=200x200")
			p ディズニー
	div.items
		a(href="http://www.aun-wa.com/SHOP/53511-b.html", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/disney/53511-0.jpg?_ex=200x200")
			p ディズニー
	
	
