.section4
	p.round-corner CATEGORY / アイテム一覧
	ul
		li
			a(target='_top', href='http://www.aun-wa.com/SHOP/411534/list.html') TOPS / トップス
		li
			a(target='_top', href='http://www.aun-wa.com/SHOP/411844/list.html') OUTER / アウター
		li
			a(target='_top', href='http://www.aun-wa.com/SHOP/411347/list.html') BOTTOMS / ボトムス
		li
			a(target='_top', href='http://www.aun-wa.com/SHOP/411912/list.html') ACCESSORY / アクセサリー
a#OVERLAYCATEGORY.moreButton(target='_top', href='http://www.aun-wa.com/categorylist/') カテゴリー一覧