doctype html
html
	include ../../common/jade/head/_head-o.jade
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	body
		
		//Goolge Tag から
		include ../../common/jade/_google.jade
		
		//headerここから
		include ./jade/_header.jade
		include ./jade/_category.jade
		include ./jade/_brand.jade
		include ./jade/_topic.jade
		include ./jade/_info.jade

		//javascript
		include ./jade/_script.jade
		