doctype html
html
	include ../../common/jade/head/_head-r.jade
	body
		//include jade/javascript/_javascript.jade
		//必要があればvendor内のスクリプトも追加
		//script(src="./js/some-function.js")
		
		//ヘッダーここから
		include ./jade/_main-content.jade
		
		//スクリプトここから
		include ./jade/_header.jade
		