div.top-image-box.col-sm-12
	img.mb-ll(src="http://www.rakuten.ne.jp/gold/auc-rodeo/BrandPageAssets/img/toyo.jpg")
	p.top-texts.mb-ll.
		東洋エンタープライズ株式会社は１９６５年、東京都黒田区に設立されました。 その歴史は、１９４０年代に創業した全身の会社「港商」から始まります。 当時、戦後の日本において繊維産業は復興の立役者であり、生地や製品の輸出入 を行っていた東洋エンタープライズ社もまた、繊維業界の発展と共に成長し、当時の復興の 一役を担っております。輸出入業に携わり創業当初からアメリカ文化に 触れてきた東洋エンタープライズ社は、スーベニアジャケット（スカジャン）や アロハシャツの生産にも深く関わっています。これらは単なるカジュアルウェアではなく、 その発祥に日本の文化が大きな影響を与えた世界唯一といえる日本オリジナルの「洋服」です。 このような衣類を手がけてきたメーカーだからこそ、新たに日本の技術を活かしたオリジナル の洋服を長年の経験を経て培われた技術をもとにした、サトウキビの繊維をデニム生地へと織り上げた「砂糖黍デニム」や 国内外のアーティストと共に作品としてオリジナルアロハシャツ等を生み出しています。 現在もコンセプトにあわせ、数十種類に及ぶブランドを展開しながら、 手に入らない部材は一から作り上げ、魅力的な商品を妥協無く製品化しています。 是非東洋エンタープライズ社にしか表現出来ないクオリティーを歴史と共に感じてみて下さい。

div.pickup-items.text-center
	h1 東洋エンタープライズ５０周年記念商品
	ul
		li.col-sm-6
			a(href="http://item.rakuten.co.jp/auc-rodeo/sc80416/" title="東洋エンタープライズは５０周年記念を迎えました。")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/sc80416-0.jpg?_ex=700x700" alt="A-2フライトジャケット")
				p 50th Aniversary model Type Indigo A-2 Flight Jacket
			p.mb-ll.
				アメリカがゴールドラッシュに沸いた時代、労働者の身に纏うデニム地の作業着は既にインディゴで染められていた。
				本来は埃や汚れをカモフラージュする目的であったインディゴが、これ程までに多くの人々を魅了すると先人達は思っていただろうか。
				天日に晒され、摩擦することで褪色し魔術の如く甘味な輝きを放つインディゴ。
				この唯一無二の劇的な色落ちを見せるインディゴが、熟練した職人達の手によって縫いあがったばかりのA-2へと大胆にも擦り込まれる。
				第二次大戦中に於いても、規定色のラセットブラウンやシールブラウンで手染めされたA-2が実在するが
				この手法による特有の色斑には深い趣があり、それこそが最大の魅力と言える。
				革の奥底に渋液を宿したブロンコハイドは着用を繰り返す事で艶の被膜に覆われていき
				インディゴの色味の変化と相まって、ジャケットは「完成」へと近づくことだろう。

		li.col-sm-6
			a(href="http://item.rakuten.co.jp/auc-rodeo/sc13414/" title="東洋エンタープライズは５０周年記念を迎えました。")
				img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/sc13414-0.jpg?_ex=700x700" alt="L-２Bジャケット")
				p “50th Anniversary Model”Indigo L-2B
			p.mb-ll.
				ライトゾーン用フライトジャケットL-2シリーズにおいて、最も長きにわたって採用され続けたL-2B。
				その長い間には幾つもの仕様の変更が重ねられたが、長期採用の事実は完成度の高さを物語っている。
				綱の様に強靭で、且つ軽量は化学繊維であるナイロン。当時その登場が画期的であったことは言うまでもなく、
				最先端素材としてフライトジャケットにも取り入れられた。化学繊維であるナイロンは、天然素材とは異なり、 
				後染めなどの柔軟性は一切持ち合わせていないいわば『頑固者』。
				デニムなどのコットン素材であっても、インディゴ溶液に浸けた糸を空気に晒して酸化させ青く染める、
				という工程を何度となく繰り返すことで美しい色合いを実現している。
				染まらない『頑固なナイロン』を用いて後染めしようとするのは物理的にも難易度が高く、それがインディゴであれば尚更のこと。
				そのような今までの常識を全て覆す、インディゴ染めのL-2B。化学繊維の硬質的な素材感とインディゴの深みを併せ持つ。
				またナイロンだけでなくリブのウールなど素材によって染まり方が異なり、異素材をふんだんに投入したフライトジャケットの贅沢さが垣見える。


div.hanger.mb-ll
	img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/icon/hanger0.png" alt="ハンガー")

div#Vue
	div(v-for = "element in Souvenir" ).items.col-sm-3
		a(href="{{ element.number }}")
			div.items__header
				img(src="{{ element.image }}").mb-sm
			div.items__body
				p.brand {{ element.brand }}
				p.name.mb-ll {{ element.name }}

div.allItemsButton-box.mb-ll
	a(href="http://item.rakuten.co.jp/auc-rodeo/c/0000001347/") 
		p.myButtonWhiteBlack 東洋エンタープライズ商品 一覧へ