doctype html
html
	include ../../common/jade/head/_head-r.jade
	body
		//include jade/javascript/_javascript.jade

		//スクリプトここから
		include jade/_javascript.jade
		//Goolge Tag から
		include ../../common/jade/_google.jade
		//ヘッダーここから
		//include ../../common/jade/header/_header-r.jade

		//外枠ここから
		//div#wrapper
			//レフトナビここから
		include jade/_leftnav-r.jade

			//メインコンテンツここから
			//div#main.main-box
				include jade/_main-content.jade
						

		//フッターここから
		//include ../../common/jade/footer/_footer-r.jade
		
		
		