doctype html
html
	include ../../common/jade/head/_head-o.jade
	body
		//include jade/javascript/_javascript.jade
		//必要があればvendor内のスクリプトも追加
		//script(src="./js/some-function.js")

		//Goolge Tag から
		include ../../common/jade/_google.jade
		//ヘッダーここから
		//include ../../common/jade/header/_header-o.jade
		include ../itemheader3/index.jade

		//外枠ここから
		div#wrapper
			//レフトナビここから
			//include ../../common/jade/leftnav/_leftnav-o.jade

			//メインコンテンツここから
			div#main-without-leftnav.main-box
				include jade/_main-content.jade


		//フッターここから
		include ../../common/jade/footer/_footer-o.jade

		//スクリプトここから
		include jade/setting.jade

