.faq {
  width: 840px;
  margin: 0 auto;
  font-size: 16px;
}

.red {
  color: red;
}

h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3em;
  margin-bottom: 0.7em;
}

.ans {
  margin-bottom: 8em;
}

.kindasmallImage {
  width: 700px;
}
