doctype html
html
	include jade/_head.jade
	body
		div.leftnav-wrapper
			ul.defalut
				li
					h1 RODEO BROS
				li
					a(target="_top" href="http://www.weibo.com/u/5067914275")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/weibo_glo.jpg")
						| Weibo.com
				li
					a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_01.jpg")
						| Go to Top Page
				li
					a(target="_top" href="http://global.rakuten.com/en/store/auc-rodeo/")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_02.jpg")
						| Check New Arrivals
			ul.feature
				li
					h1 FEATURES
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=made+in+japan&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://image.rakuten.co.jp/auc-rodeo/cabinet/top/slide/souvenir_topic_0112.jpg")
						| Japanese Souvenir Jacket
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=made+in+japan&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_05.jpg")
						| Shop items made in Japan
				li
					a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/totalcoorde-all/index.html")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_09.jpg")
						| Total Corrdinate
				li
					a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/bestseller/index.html")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_10.jpg")
						| Best Seller Items
			ul.guide
				li
					h1 SHOPING GUIDE
				li
					img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_11.jpg")
					| If you buy more than 50,000 JP yen, we can give you free shipping.
				li
					a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/shopinfo.html")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_06.jpg")
						| Know How to Shop
				li
					a(target="_top" href="http://review.rakuten.co.jp/shop/4/235529_235529/1.1/")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_07.jpg")
						| See Customers' Review
				li
					a(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/shopinfo.html")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/global/images/leftnavi/global_bn_08.jpg")
						| We Don't Charge JP Tax
			ul.brand
				li
					h1 SELECTED BRANDS
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=oni+denim&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/06.jpg")
						| ONI DENIM
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=IRON&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/05.jpg")
						| IRON HEART
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=TOYO+ENTERPRISE&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/02.jpg")
						| TOYO ENTERPRIZE
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=BUZZ+RICKSON%27S&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/12.jpg")
						| BUZZ ROCKSONS'
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=SUGAR+CANE&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/11.jpg")
						| SUGAR CANE
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=HE+FLAT+HEAD&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/07.jpg")
						| THE FLAT HEAD
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=EFU&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/08.jpg")
						| EFU
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=crows+worst&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/selected-brands/04.jpg")
						| CROWS WORST
				li
					a(target="_top" href="http://global.rakuten.com/en/search/?k=ALPHA&sid=auc-rodeo&l-id=gs_product_search")
						img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/01.jpg")
						| ALPHA


				li
					a.morebrands(target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/brand-list.html") MORE BRANDS
			ul.category
				h1 CATEGORIES
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=T+shirt&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/ihtl-1501-0.jpg?_ex=128x128")
						| T Shirts
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Shirts&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/ihsh-07-0.jpg?_ex=128x128")
						| Shirts
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Polo&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/vanson/nvps-519-0.jpg?_ex=128x128")
						| Polo Shirts
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Hoodie&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/ted1/tdsp-139-0.jpg?_ex=128x128")
						| Hoodie
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=knit&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/imkn-501-0.jpg?_ex=128x128")
						| Knit
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Tops&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/111601-0.jpg?_ex=128x128")
						| Tops
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=+Sweat&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/buzzricksons/br67128-0.jpg?_ex=128x128")
						| Sweat
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Denim+Jaket&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/sc13434-0.jpg?_ex=128x128")
						| Denim Jaket
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Military+Jakcket&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/br13113-0.jpg?_ex=128x128")
						| Military Jakcket
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Leather+Jacket&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/br80253-0.jpg?_ex=128x128")
						| Leather Jacket
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Souvenir&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/ulsj-001-0.jpg?_ex=128x128")
						| Souvenir
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Outer&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/ihj-38-0.jpg?_ex=128x128")
						| Outerwear
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Jeans&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/634sr-0.jpg?_ex=128x128")
						| Denim Jeans
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Bottom&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/ironheart/706-0.jpg?_ex=128x128")
						| Bottoms
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Coverall&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/vanson/nvao-301-0.jpg?_ex=128x128")
						| Coverall
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=hat&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/crows-worst/tfh-01-1.jpg?_ex=128x128")
						| Hats
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Cap&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/lb-12-673-0.jpg?_ex=128x128")
						| Caps
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=bag&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/amazon2/9sbb-0.jpg?_ex=128x128")
						| Bags
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=shoes&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/alpha/70040-0.jpg?_ex=128x128")
						| Shoes
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?k=Wallet&sid=auc-rodeo&l-id=gs_product_search')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/inception/ipch-01-0.jpg?_ex=128x128")
						| Wallets
				li
					a(target="_top" href='http://global.rakuten.com/en/search/?sid=auc-rodeo&tl=216129')
						img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/skullworks/151421-0.jpg?_ex=128x128")
						| Accessories

















