.section3
  .brandList
    h2.brandList__index.round-corner BRAND / ブランドから選ぶ
    .brandList__main
      .cate-brand
        // <h2 class="brandList__index">MAIN BRAND</h2>
        .brandList__wrap.default-open
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002523/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/alpha.png')
              .brand__body
                p.brand__nameEng ALPHA
                p.brand__nameJa アルファ
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001317/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/ironheart.png')
              .brand__body
                p.brand__nameEng IRON HEART
                p.brand__nameJa アイアンハート
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002220/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/onidenim.png')
              .brand__body
                p.brand__nameEng ONI DENIM
                p.brand__nameJa 鬼デニム
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002557/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/theflathead.png')
              .brand__body
                p.brand__nameEng THE FLAT HEAD
                p.brand__nameJa フラットヘッド
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002393/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/yoroi.png')
              .brand__body
                p.brand__nameEng YOROI
                p.brand__nameJa ヨロイ
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002482/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/disney.png')
              .brand__body
                p.brand__nameEng Disney
                p.brand__nameJa ディズニー
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001347/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/toyoenterprise.png')
              .brand__body
                p.brand__nameEng TOYO ENTERPRISE
                p.brand__nameJa 東洋エンタープライズ
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001349/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/buzzricksons.png')
              .brand__body
                p.brand__nameEng BUZZ RICKSON'S
                p.brand__nameJa バズリクソンズ
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001351/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/sugarcane.png')
              .brand__body
                p.brand__nameEng SUGAR CANE
                p.brand__nameJa シュガーケーン
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001352/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/sunsurf.png')
              .brand__body
                p.brand__nameEng SUN SURF
                p.brand__nameJa サンサーフ
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000001803/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/vanson.png')
              .brand__body
                p.brand__nameEng VANSON
                p.brand__nameJa バンソン
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000618/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/efucoinc.png')
              .brand__body
                p.brand__nameEng EFU CO., INC
                p.brand__nameJa エフ商会
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000000620/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/tedman.png')
              .brand__body
                p.brand__nameEng TEDMAN
                p.brand__nameJa テッドマン
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002322/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/kaminari.png')
              .brand__body
                p.brand__nameEng KAMINARI
                p.brand__nameJa カミナリ
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002406/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/indianmotocycle.png')
              .brand__body
                p.brand__nameEng INDIAN MOTOCYCLE
                p.brand__nameJa インディアンモトサイクル
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002522/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/misterfreedom.png')
              .brand__body
                p.brand__nameEng MISTER FREEDOM
                p.brand__nameJa ミスター・フリーダム
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002578/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/williamgibson.png')
              .brand__body
                p.brand__nameEng William Gibson
                p.brand__nameJa ウィリアムギブソン
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002492/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/eternal.png')
              .brand__body
                p.brand__nameEng ETERNAL
                p.brand__nameJa エターナル
          a.brand.brandList__item(target='_top', href='http://item.rakuten.co.jp/auc-rodeo/c/0000002355/')
            .brand__inner
              .brand__header
                img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/img/brand/crowsworst.png')
              .brand__body
                p.brand__nameEng CROWS x WORST
                p.brand__nameJa クローズワースト
a#OVERLAYBRAND.moreButton(target='_top', href='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist1/') ブランド一覧