h1.reserve-title RESERVATION / 予約商品
div.reserve
	div.items
		a(href="http://item.rakuten.co.jp/auc-rodeo/525518/", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/low/525518-0.jpg?_ex=200x200")
			p エヴァンゲリヲン×錦
	div.items
		a(href="http://item.rakuten.co.jp/auc-rodeo/525517/", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/low/525517-0.jpg?_ex=200x200")
			p エヴァンゲリヲン×錦
	div.items
		a(href="http://item.rakuten.co.jp/auc-rodeo/525516/", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/low/525516-0.jpg?_ex=200x200")
			p エヴァンゲリヲン×錦
	div.items
		a(href="http://item.rakuten.co.jp/auc-rodeo/525515/", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/low/525515-0.jpg?_ex=200x200")
			p エヴァンゲリヲン×錦
	div.items
		a(href="http://item.rakuten.co.jp/auc-rodeo/55501/", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/disney/55501-0.jpg?_ex=200x200")
			p ディズニー
	div.items
		a(href="http://item.rakuten.co.jp/auc-rodeo/53511-b/", target="_top")
			img(src="http://thumbnail.image.rakuten.co.jp/@0_mall/auc-rodeo/cabinet/disney/53511-0.jpg?_ex=200x200")
			p ディズニー
	
		
