.leftnav
	.leftnav__box
		h2 INFORMATION
		ul
			li.arrow
				a(target="_top" href='http://www.rakuten.co.jp/rodeo-2nd/info.html') 会社概要
			li.arrow
				a(target="_top" href='http://www.rakuten.ne.jp/gold/rodeo-2nd/guide/#payment') お支払いについて
			li.arrow
				a(target="_top" href='http://www.rakuten.ne.jp/gold/rodeo-2nd/guide/#shippingmethod') 配送について
			li.arrow
				a(target="_top" href='http://www.rakuten.ne.jp/gold/rodeo-2nd/guide/#return') 返品・交換
			li.arrow
				a(target="_top" href='http://www.rakuten.ne.jp/gold/rodeo-2nd/size/') サイズの測り方
			li.arrow
				a(target="_top" href='http://basket.step.rakuten.co.jp/rms/mall/bs/cart/?shop_bid=330657&__event=ES01_003_001') 買い物かご
	.leftnav__box
		h2 BRAND INDEX
		ul
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000162/') TEDMAN
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000176/') VANSON
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000136/') CROWS×WORST
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000160/') DISNEY
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000116/') ALPHA
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000114/') IRON HEART
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000126/') ONI DENIM
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000348/') KOJIMA GENES
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000340/') TOYO ENTERPRISE
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000170/') BUZZ RICKSON'S
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000150/') SUGAR CANE
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000161/') TAILOR TOYO
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000142/') SUN SURF
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000187/') MISTER FREEDOM
			// <li class="arrow"><a href="http://item.rakuten.co.jp/rodeo-2nd/c/0000000122/">WILLIAM GIBSON</a></li>
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000180/') THE FLAT HEAD
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000115/') ARK BLUE
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000166/') NANGA
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000192/') YOROI
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000198/') RODEO BROS
			li.all
				a(target="_top" href='http://www.rakuten.ne.jp/gold/rodeo-2nd/brandlist1/') ブランド一覧へ


	.leftnav__box
		h2 MENS ITEM INDEX
		ul
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000202/') アウター
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000201/') トップス
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000200/') ボトムス
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000204/') アクセサリー
			li.arrow
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000203/') フットウェア
			li.all
				a(target="_top" href='http://item.rakuten.co.jp/rodeo-2nd/c/0000000102/') カテゴリー一覧へ

	//SNS
	include ./_sns.jade

	.leftnav__box
			h2 LINK
			a.relationLink(href='http://www.rakuten.ne.jp/gold/auc-rodeo/')
				img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/logo.png', width='100%')
				| 数々の人気のブランドを取り扱い、国内だけでなく海外のお客様にも商品を販売をしております。
				| RODEO BROS ホームページはこちらから。



