div.leftnav
	div.leftnav__box
		h2 INFORMATION
		ul
			li.arrow
				a(href='') 会社概要
			li.arrow
				a(href='') お支払い/配送/返品
			li.arrow
				a(href='') サイズの測り方
			li.arrow
				a(href='') 店長ブログ
			li.arrow
				a(href='') お問い合わせ
			li.arrow
				a(href='') 買い物かご
	div.leftnav__box
		h2 BRAND INDEX
		ul
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
			li.arrow
				a(href='') Buzz Rickson's
	div.leftnav__box
		h2 ITEM INDEX
		ul
			li.arrow
				a(href='') アウター
			li.arrow
				a(href='') Tシャツ
			li.arrow
				a(href='') スウェット
			li.arrow
				a(href='') シャツ
			li.arrow
				a(href='') ボトムス
			li.arrow
				a(href='') グッズその他
	//SNS
	include ./_sns.jade


