div.flexslider.mySlider
	ul.slides
		li
			a(href="http://www.rakuten.ne.jp/gold/rodeo-2nd/vanson/")
				img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-33.jpg')
		li
			a(href="http://www.rakuten.ne.jp/gold/rodeo-2nd/aloha/")
				img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-36.jpg')
		li
			a(href="http://www.rakuten.ne.jp/gold/rodeo-2nd/tedmantee/")
				img(src='http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-31.jpg')
