doctype html
html
	head
		meta(http-equiv="content-language" content="ja")
		link(rel='apple-touch-icon', href='http://a.ichiba.jp.rakuten-static.com/com/img/home/iphone/share/rakuten.png')
		link(rel="shortcut icon" href="http://www.rakuten.ne.jp/gold/auc-rodeo/images/favicon.ico" type="image/x-icon")
		block meta
		block title
	body
		block content