.selectedBrands
			h2.headLine SELECTED BRANDS
			ul.items.row
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002523/', title='')
								img(alt='', title='', src='img/01.jpg')
							figcaption
								h3 ALPHA
								p 1959年創業のミリタリーブランドALPHA
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002523/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001317/', title='')
								img(alt='', title='', src='img/05.jpg')
							figcaption
								h3 IRON HEART
								p バイク乗りによるバイク乗りのためのブランド
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001317/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002220/', title='')
								img(alt='', title='', src='img/06.jpg')
							figcaption
								h3 ONI DENIM
								p たった一人の老職人による傑作ブランド
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002220/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002557/', title='')
								img(alt='', title='', src='img/07.jpg')
							figcaption
								h3 THE FLAT HEAD
								p 古き良き時代のアメリカンテイストと現代性の融合
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002557/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002482/', title='')
								img(alt='', title='', src='img/03.jpg')
							figcaption
								h3 DISNEY
								p 世界中の人々を魅了する「Disney」とのコラボ
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002482/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001347/', title='')
								img(alt='', title='', src='img/02.jpg')
							figcaption
								h3 TOYO ENTERPRISE
								p 世界唯一といえる日本オリジナルの「洋服」を創る
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001347/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001349/', title='')
								img(alt='', title='', src='img/12.jpg')
							figcaption
								h3 BUZZ RICKSON'S
								p ヴィンテージを徹底的に研究し、真のレプリカを製造
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001349/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001351/', title='')
								img(alt='', title='', src='img/11.jpg')
							figcaption
								h3 SUGAR CANE
								p 日本に誕生した初めての米軍向け衣料メーカー
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001351/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001803/', title='')
								img(alt='', title='', src='img/09.jpg')
							figcaption
								h3 VANSON
								p 最高品質のレザーウエアを追求し続ける
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000001803/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000000618/', title='')
								img(alt='', title='', src='img/08.jpg')
							figcaption
								h3 EFU CO., INC
								p 日本男児の美意識を目覚めさせる「和米カジ」
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000000618/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002522/', title='')
								img(alt='', title='MISTER FREEDOM', src='img/13.jpg')
							figcaption
								h3 MISTER FREEDOM
								p 劇中の登場人物が着用する洋服をイメージしてコレクションを創りあげる
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002526/')
								button.btn.btn-default MORE
				li.col-xs-6.col-md-4.col-lg-3
					.item
						figure
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002355/', title='')
								img(alt='クローズワーストコラボアイテム', title='クローズ　ワースト', src='img/04.jpg')
							figcaption
								h3 CROWS WORST
								p 高橋ヒロシ先生の描くコミックを具現化
						.text-center.hidden-xs
							a(href='http://item.rakuten.co.jp/auc-rodeo/c/0000002355/')
								button.btn.btn-default MORE
			.text-center
				a(href='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/brand-list.html')
					button.selectedBrands__moreBtn.btn.btn-default 　　　　　　　ブランド一覧へ　　　　　　　
