.carousel
	a(href="http://www.rakuten.co.jp/auc-rodeo/news.html")
		img.col-sm-12#js__carousel(src="./img/white.png"
		src__pc = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-19.jpg"
		src__sp ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-1.jpg")
	ul.row.hidden-xs
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/souvenirjacket/index.html")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_14.jpg")
				p スカジャン特集
		li.col-sm-2
			a(href="http://review.rakuten.co.jp/shop/4/235529_235529/1.1/")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_07.jpg")
				p ユーザーレビュー
		li.col-sm-2 
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/rodeomap.html")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_11.jpg")
				p SHOP INFORMATION
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/novelty/")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_15.jpg")
				p オリジナルノベルティープレゼント
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/feature/alpha_boots.html")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_12.jpg")
				p APLHAブーツ特集
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/feature/alpha_boots.html")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_09.jpg")
				p 採用情報
