.carousel
	img.col-sm-12#js__carousel(src="http://placehold.it/1x1"
	src__pc = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-27.jpg"
	src__sp ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-1.jpg")
	ul.row.hidden-xs
		li.col-sm-2
			img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_14.jpg")
			p テキストテキストテキストテキストテキストテキストテキスト
		li.col-sm-2
			img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_07.jpg")
			p テキストテキストテキストテキストテキストテキストテキスト
		li.col-sm-2 
			img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_11.jpg")
			p テキストテキストテキストテキストテキストテキストテキスト
		li.col-sm-2
			img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_15.jpg")
			p テキストテキストテキストテキストテキストテキストテキスト
		li.col-sm-2
			img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_12.jpg")
			p テキストテキストテキストテキストテキストテキストテキスト
		li.col-sm-2
			img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_09.jpg")
			p テキストテキストテキストテキストテキストテキストテキスト
