.carousel
	a#js__carousel__link(href="#" title="ロデオブロス特集"
	href__sun = "http://www.rakuten.co.jp/auc-rodeo/news.html"
	title__sun = "メールマガジン登録"
	href__mon = "http://item.rakuten.co.jp/auc-rodeo/c/0000002220/"
	title__mon = "鬼デニム"
	href__tue = "http://item.rakuten.co.jp/auc-rodeo/c/0000002557/"
	title__tue = "フラットヘッド"
	href__wed = "http://item.rakuten.co.jp/auc-rodeo/c/0000001317/"
	title__wed = "アイアンハート"
	href__thu = "http://www.rakuten.ne.jp/gold/auc-rodeo/souvenirjacket/index.html"
	title__thu = "スカジャン"
	href__fri = "http://www.rakuten.ne.jp/gold/auc-rodeo/tedmantee/"
	title__fri = "テッドマンT"
	href__sat = "http://www.rakuten.co.jp/auc-rodeo/news.html"
	title__sat = "メールマガジン登録")
		img.col-sm-12#js__carousel__image(src="./img/white.png" alt="メルマガ登録"

		src__pc__sun = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-19.jpg"
		src__sp__sun ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-1.jpg"

		src__pc__mon = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-17.jpg"
		src__sp__mon ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-2.jpg"

		src__pc__tue = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-15.jpg"
		src__sp__tue ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-3.jpg"

		src__pc__wed = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-14.jpg"
		src__sp__wed ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-4.jpg"

		src__pc__thu = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-13.jpg"
		src__sp__thu ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-5.jpg"

		src__pc__fri = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-31.jpg"
		src__sp__fri ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-7.jpg"

		src__pc__sat = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-19.jpg"
		src__sp__sat ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-1.jpg" )
	ul.row.hidden-xs
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/souvenirjacket/index.html" title="スカジャン特集")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_14.jpg" alt="スカジャン")
				p スカジャン特集
		li.col-sm-2
			a(href="http://review.rakuten.co.jp/shop/4/235529_235529/1.1/" title="ユーザーレビュー")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_07.jpg" alt="ユーザーレビュー")
				p ユーザーレビュー
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/rodeomap.html" title="SHOP INFORMATION")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_11.jpg" alt="SHOP INFORMATION")
				p SHOP INFORMATION
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/novelty/" title="オリジナルノベルティープレゼント")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_15.jpg" alt="オリジナルノベルティープレゼント")
				p オリジナルノベルティープレゼント
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/feature/alpha_boots.html" title="APLHAブーツ特集")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_09.jpg" alt="APLHAブーツ特集")
				p APLHAブーツ特集
		li.col-sm-2
			a(href="http://www.rakuten.ne.jp/gold/auc-rodeo/feature/alpha_boots.html" title="採用情報")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_12.jpg" alt="採用情報")
				p 採用情報
