header
	div.hidden-sp
		include ../../itemheader1/jade/_header.jade
		include ../../itemheader1/jade/_category.jade
		include ../../itemheader1/jade/_brand.jade
		include ../../itemheader1/jade/_topic.jade
		//include ../../itemheader1//jade/_info.jade
	div.hidden-pc
		include ../../itemheader1/jade/_sp.jade