header
	div.hidden-sp
		include ../../itemheader2/jade/_header.jade
		include ../../itemheader2/jade/_category.jade
		include ../../itemheader2/jade/_brand.jade
		include ../../itemheader2/jade/_topic.jade
		//include ../../itemheader2//jade/_info.jade
	div.hidden-pc
		include ../../itemheader2/jade/_sp.jade