h2.sectionTitle NEW ARRIVAL

.newArrival#Vue__NewArrival
	a.rightArrow(v-on:click="onClickNext") Next
	a.leftArrow(v-on:click="onClickBack") Back
	ul.row
		li(v-for = "element in NewArrival").newArrival__item
			a(href="{{ element.number }}")
				img.lazy(data-original="{{ element.image }}" src="./load1000x1000.gif")
				.newArrival__texts
					h3 {{ element.brand }}
					p {{ element.name }}
		
	.text-center
		a(href="http://item.rakuten.co.jp/auc-rodeo/c/0000000630/")
			button.btn.btn-default 新商品一覧へ
			

