.totalCoorde
	h2.sectionTitle TOTAL COORDINATE
	div.totalCoorde__wrapper
		div.totalCoorde__main
			a(href="http://item.rakuten.co.jp/auc-rodeo/nvsl-511/")
				img.lazy(data-original="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/total-co/nvsl-511_big.jpg" src="./load1000x1000.gif")
		div.totalCoorde__sub
			div.totalCoorde__tops
				a(href="http://item.rakuten.co.jp/auc-rodeo/nvsl-511/")
					img.lazy(data-original="http://shopping.c.yimg.jp/lib/rodeobros/nvsl-511-0.jpg?_ex=300x300" src="./load1000x1000.gif")
					h3 VANSON
					p Logo Embroidered Twill Long sleeves Work Shirt
			div.totalCoorde__bottoms
				a(href="http://item.rakuten.co.jp/auc-rodeo/461-506/")
					img.lazy(data-original="http://shopping.c.yimg.jp/lib/rodeobros/461-506-0.jpg?_ex=300x300" src="./load1000x1000.gif")
					h3 YOROI
					p Wrinkle Free Stretch Black Jeans
	.text-center
		a(href='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/brand-list.html')
			button.btn.btn-default スタイル一覧へ


