.totalCoorde
	h2.sectionTitle TOTAL COORDINATE
	div.totalCoorde__wrapper
		div.totalCoorde__main
			a(href="")
				img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/img/total-co/nvsl-511_big.jpg")
		div.totalCoorde__sub
			div.totalCoorde__tops
				a(href="")
					img(src="http://shopping.c.yimg.jp/lib/rodeobros/tdj-16000-0.jpg?_ex=300x300")
					h3 Mister Freedom x Sugar Cane
					p Cowhide Leather CAMPUS Jacket
			div.totalCoorde__bottoms
				a(href="")
					img(src="http://shopping.c.yimg.jp/lib/rodeobros/461-505o-00.jpg?_ex=300x300")
					h3 Mister Freedom x Sugar Cane
					p Cowhide Leather CAMPUS Jacket
	.text-center
		a(href='http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/brand-list.html')
			button.btn.btn-default 新商品一覧へ


