div.explanation
	h1 領収書の発行に関して
	p
		|○クレジット決済の場合
		br
		|クレジットカード決済の場合は、お客様がクレジットカード会社等に対して金銭を支
		|払う為、信販会社発行の利用明細書が領収書相当となります。
		|※詳しくは当店までお問い合わせください。
		br
		br
		|○銀行振込、郵便振替の場合
		br
		|金融機関からお受取の「振込控え」が正規（税法上）の領収書としてご利用頂けます。
		br
		br
		|○コンビニ決済の場合
		br
		|コンビニ支払いの受領書がそのまま領収書としてご利用いただけます。
		br
		br
		|○楽天バンク決済の場合
		br
		|お振込完了画面を印刷していただくか、楽天バンクのカスタマーセンターへ
		|取引履歴証明書の発行をご依頼ください。
		br
		br
		|○代金引換
		br
		|ご注文商品到着時の運送会社発行「品代金領収書」が正規（税法上）の領収書として
		|ご利用頂けます。
		br
		br
		|※複数必要な場合は、コピーをご利用下さい。
		br
		br
		|●上記事項をご理解いただいた上でご希望の場合は、領収書の発行を致します。
		br
		br
		|○ご注意
		br
		|ポイントをご利用になった場合の領収書発行について
		br
		|ご利用になられたポイントは楽天のサービスの一つであり金銭ではありません。
		|そのポイント分のお金は楽天側で支払っている事になります。
		|当店としては楽天より、ポイント分に相当する金額を頂く事になります。
		br
		br
		|＜例＞
		br
		|～3,000円の商品に対して500ポイントを利用した場合～
		br
		|　・お客様負担　⇒　2,500円
		br
		|　・楽天側負担　⇒　500円
		br
		|※正確に領収書を発行する場合は、次の様に発行することになります。
		br
		|　・お客様へ 2,500円分 の領収書
		br
		|　・楽天に 500円分 の領収書
		br
		|従いましてこの場合、お客様へ発行致します領収書は2,500円分となり、
		|3,000円分の領収書を発行することはできませんのでご了承ください。