div.text-center.textBox.mb-ll
	h1.titleOfPage WEB STORE LIMITED SPECIAL NOVELTY
	h2.subTitle.mb-mm ￥50,000以上のご注文でロデオブロスオリジナルマグカッププレゼント

	p ただいまロデオブロスにて一回のご注文で、
	p ￥50,000(税込)以上購入して頂いたお客様に「ロデオブロスオリジナルマグカップ」をプレゼント致します。
	p.shops 対象店舗
		a.shopLink 楽天 
		a.shopLink yahoo!ショッピング 
		a.shopLink 公式WEBサイト 
	br
	p こちらのノベルティはご注文確定後、先着で付与させて頂きます。
	p 購入手続き時にノベルティ選択画面は表示されませんのでご了承ください。
	p また、国内配送のみの対象ノベルティとなります。海外配送には対応しておりませんのでご了承ください。
	br
	p ノベルティには数に限りがございます。サイト上にノベルティの案内が掲載されていても終了している場合がございます。
	p また、ノベルティは１回のご注文で条件を満たした場合に、プレゼントいたします。
	p 複数回のご注文の結果条件を満たしても、プレゼント対象とはなりませんのでご注意ください。
	p 無くなり次第終了とさせて頂きますので予めご了承下さい。
	br
	a.color-black(href="http://item.rakuten.co.jp/auc-rodeo/c/0000000630/")
		p.moreItems.myButtonWhiteBlack 商品一覧へ