@import '../../../common/scss/normalize';
@import '../../../common/scss/utility';
@import '../../../common/scss/base.scss';

body {
	font-size:16px;
	line-height:2;
}

h1 {

}

span {
	color:red;
}

