div.brandWrapper#Vue
	h2(class="brandList__index") MAIN BRAND
	div(v-for = "element in MAIN" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") ア行
	div(v-for = "element in A" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") カ行
	div(v-for = "element in KA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") サ行
	div(v-for = "element in SA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") タ行
	div(v-for = "element in TA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") ナ行
	div(v-for = "element in NA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") ハ行
	div(v-for = "element in HA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") マ行
	div(v-for = "element in MA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") ヤ行
	div(v-for = "element in YA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") ラ行
	div(v-for = "element in RA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}

	h2(class="brandList__index") ワ行
	div(v-for = "element in WA" ).items.text-center
		a.brand.brandList__item(href="{{ element.pageURLR2 }}")
			.brand__inner
				.brand__header
					img(src='{{ element.imageURL }}')
				.brand__body
					p.brand__nameEng {{ element.eng }}
					p.brand__nameJa {{ element.jp }}


///////////////////////////////////////////////////////////////////////////////////////////////////////


.brandList__nav(style='position: fixed; top: 50px; left: 19.6094px;')
	ul
		li
			a(href='#a') MAIN BRAND
		li
			a(href='#b') ア行
		li
			a(href='#c') カ行
		li
			a(href='#d') サ行
		li
			a(href='#e') タ行
		li
			a(href='') ナ行
		li
			a(href='#g') ハ行
		li
			a(href='#h') マ行
		li
			a(href='#i') ヤ行
		li
			a(href='#j') ラ行
		li
			a(href='#k') ワ行