header {
	position: fixed;
	z-index: 999;
	top:0;
	left:0;
	width: 100%;
	background:rgb(38, 5, 5);

	ul {
		padding:0;
		margin:0 auto;
		list-style:none;
		width:1240px;
		height:4em;
	}



	li {
		display:inline-block;
		font-size:11px;
		width:8em;


		a {
			text-align:center;
			display:block;
			color:#ddd;
			text-decoration:none;
		}
	}

	.logo {
		width:20em;
		margin-top:0.5em;
	}

	.menu {
		position: relative;
		top: -1.7em;
		border-right:1px solid #fff;

		a {
			margin: 0.5em;
			height: 0.5em;
			line-height: 0.5;
		}
	}

	.sns  {
		width: 13em;
		position: relative;
		top: -0.3em;
		a {
			display:block;
			width:33%;
			float:left;
		}
	}

	.sns__box {
		margin-left:2em;
	}

}

.copy-right p{
		position: absolute;
		bottom: 0;
		left: 0;
		color: #000;
		width: 100%;
		background: #ddd;
		z-index: 999;
		margin: 0;
		font-size: 9px;
		text-indent: 2em;
}
@media (min-width:769px){

}