doctype html
html
	include ../../common/jade/head/_head-o.jade
	body
		//include jade/javascript/_javascript.jade

		//スクリプトここから
		include jade/_javascript.jade
		//Goolge Tag から
		include ../../common/jade/_google.jade
		//ヘッダーここから
		//include ../../common/jade/header/_header-r.jade

		//外枠ここから
		//div#wrapper
		//レフトナビここから
		div.actual-leftnav
			//////////////////////////////////////////////////
			section.mb-ms
				include jade/totalcoorde.jade
			//////////////////////////////////////////////////　
			section.mb-ms
				include jade/new.jade
			//////////////////////////////////////////////////
			section.mb-ms
				include jade/reserve.jade
			//////////////////////////////////////////////////
			section.mb-ms
				include jade/brand.jade
			//////////////////////////////////////////////////
			section.mb-ms
				include jade/category.jade
			//////////////////////////////////////////////////
			section.mb-ms
				include jade/topics.jade
			//////////////////////////////////////////////////
			section.mb-ms
				include jade/sns.jade

			//メインコンテンツここから
			//div#main.main-box
				include jade/_main-content.jade
						
		//フッターここから
		//include ../../common/jade/footer/_footer-r.jade
		
		
		