img.topImage(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/slide/rodeo_shop.jpg')
div.outerbox
	h1 現在ロデオブロスではスタッフを募集しています。
	div.menuLink
		a.green-color(href="#web")  WEBデザイナー
		|　/　
		a.green-color(href="#sell") 販売スタップ
		|　/　
		a.green-color(href="#baito") インターン
	///////////////////////////////////////////
	h2.caption_title なにをやっているのか
	.caption_box
		| 弊社は、創業から40年の老舗セレクトショップです。
		br
		| ECサイトの構築・運用・デザイン・実店舗での接客・販売等、全てを自社で行っています。
		br
		| 数々の人気のブランドを取り扱い、国内だけでなく海外のお客様にも商品を販売をしております。
		| さらに自社でも日本製に拘ったハイクオリティな商品を企画・制作しています。



	img.caption_image(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/job2.jpg')
	///////////////////////////////////////////
	h2.caption_title どうやってやっているのか
	.caption_box
		| 今現在ネット通販が活性化し、人と会話をしなくても手軽にものが買えてします。
		br
		| そんな時代だからこそ、受発注業務や販売業務、Web，対面と形は違えど、「人と人との繋がり」を大切にし、日本のWebショップならではのホスピタリティ精神を持った丁寧な対応を心がています。
		br
		br
		| 通販事業を始めた当初は、会社自体の人数が少なく、業務に追われる日も少なくはありませんでした。
		| ですがスタッフの暖かいサポートと、向上心のおかげで今では10人程度のスタッフで運営できるようになりました。
		br
		br
		| 更に、今後海外に向けた新規事業なども計画しております。「ものづくり」について真剣であり、「自分自身にストイック」なメンバーが揃っていますので、常に新しいことを皆で相談し、成し遂げてきました。一人ではなく常にスタッフみんなで前進する、そんな企業であり続けたいと思います。
	img.caption_image(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/job6.jpg')
	| 弊社は２０代が多く、みな年齢が近いこともあり、風通しのよいフラットな職場です。
	br
	| サイトの構築・運用・デザイン・実店舗での接客・販売にいたるまですべて自社で行っており、業務の意味や、方向性・実務に至るまで、丁寧に都度スタッフへ伝えています。
	br
	| 事務所の1Fが実店舗なので、アパレル業界との距離も近く、EC業界で活躍したい方や、ファッションが好きな方にもやりがいを感じることができると思います。
	br
	br
	hr
	br
	br
	br
	br
	| 応募資格：ファッションが好きな方
	br
	| 雇用形態：正社員 / アルバイト
	br
	| 給与：経験・能力を考慮の上、優遇（試用期間3ヶ月あり）
	br
	| 待遇：交通費支給（上限あり）、昇給年1回、賞与年2回
	br
	| 労災・雇用保険
	br
	| 勤務時間：10:00～19:00
	br
	| 休日：隔週2日制・夏期休暇・年末年始
	br
	| お問い合わせ：
	a(href='mailto:recruit-rodeo@aun-wa.com') recruit-rodeo@aun-wa.com
	br
	| アルバイトの方の勤務時間等は、相談の上決定させて頂きます。
	br
	br
	br
	br
	br
	///////////////////////////////////////////
	h2.caption_title.green-color#web WEBデザイナー
	div.caption_box
		| 【業務内容】
		br
		br
		| ・自社サイトの企画・運営・制作業務
		br
		| ・ECサイトの受注処理
		br
		| ・商品登録業務
		br
		| ・商品ページ、企画ページ作成
		br
		| ・サイト更新、バナー制作、商品画像制作
		br
		| ・商品撮影
		br
		| ・メルマガ、ブログ制作
		br
		| ・販売企画の企画立案、制作
		br
		br
		br
		|  【求める経験・能力・スキル】
		br
		br
		| ・ファッション業界に興味がある方、服が好きな方
		br
		| ・基本的なPCスキル
		br
		| ・Photoshop / Illustrator / Dreamweaver / HTML / CSS
		br
		br
		br
		| 【歓迎スキル】
		br
		br
		| ・楽天市場、Yahoo!などのECサイト運営構築、コーディング等の制作の経験がある方


	h2.caption_title.green-color#sell 販売スタップ
	div.caption_box
		| 【業務内容】
		br
		br
		| ・接客
		br
		| ・ECサイトの受注処理
		br
		| ・商品登録業務
		br
		| ・販売企画の企画立案、制作
		br
		| ・サイト更新
		br
		br
		br
		|  【求める経験・能力・スキル】
		br
		br
		| ・人と接するのが好きな方、コミュニケーション力のある方
		br
		| ・ファッション業界に興味がある方、服が好きな方
		br
		| ・自ら能動的かつ迅速かつ柔軟に動き、結果を残す人材
		br
		| ・「日本発を世界へ」という私たちの事業コンセプトに共感できる人
		br
		| ・接客・販売・小売業に興味のある人
		br
		| ・新規事業・海外事業の立上げに挑戦したい人
		br
		br
		br
		| 【歓迎スキル】
		br
		br
		| ・常に情報にアンテナを張り、新しいものを積極的に取り入れていく意欲のある方
		br
		| ・臨機応変に対応できる方
		br
		| ・責任感を持っている方
		br
		| ・指示されたことだけではなく、自分から考えて行動できる方
		br
		| ・より良いものを創りたい！常に前向きな考えで、向上心のある方
		br
		| ・正確性と作業スピードを追求していける方

	h2.caption_title.green-color#baito アルバイト / インターン
	div.caption_box
		| 【業務内容】
		br
		br
		| ・ECサイトの受注処理
		br
		| ・商品登録業務
		br
		| ・販売企画の企画立案、制作
		br
		| ・サイト更新
		br
		| ・サイト更新、バナー制作、商品画像制作
		br
		| ・スキルに応じて相談の上、業務内容を決定します。
		br
		br
		br
		|  【求める経験・能力・スキル】
		br
		br
		| ・ファッション業界に興味がある方、服が好きな方
		br
		| ・自ら考え行動できる方
		br
		br
		br
		| 【歓迎スキル】
		br
		br
		| ・HTML, CSS に関する知識
		br
		| ・Photoshop、Illustratorを使える

