div.header__box
	ul
		li.logo
			a(href="" title="")
				img(src="https://placehold.jp/200x50.png")
		li.menu
			a(href="./news/" title="") NEWS
		li.menu
			a(href="./brand/" title="") BRAND
		li.menu
			a(href="./history/" title="") HISTORY
		li.menu
			a(href="./cart/" title="") CART
		li.menu
			a(href="./orderinfo/" title="") ORDER INFO
		li.menu
			a(href="./notice/" title="") NOTICE
		li.menu
			a(href="./faq/" title="") FAQ
		li.menu
			a(href="./comapany/" title="") COMPANY
		li.menu
			a(href="./contact/" title="") CONTACT
		li.sns
			div.sns__box
				a(href="" title="")
					img(src="https://placehold.jp/30x30.png")
				a(href="" title="")
					img(src="https://placehold.jp/30x30.png")
				a(href="" title="")
					img(src="https://placehold.jp/30x30.png")
