section
	include ./googleAd1.jade

section.category
	h3.text-center category
	a(href="../how") HOW TO LEARN / 勉強方法
	a(href="../experience") EXPERIENCE / 海外生活
	a(href="../study") STUDY ENGLISH / 英語勉強
	a(href="../related") RELATED ARTICLES / 関連記事
section
	h3.text-center about
	p  英語を学ぶことで世界は変わる。海外をもっと身近なものに。

section
	include ./googleAd1.jade

section
	h3.text-center pick up
	- for(var i=0; i < 6; i++ ) {
	a(href="")
	div.pickup
		div.pickup__header
			img(src="./img/01.jpg")
		div.pickup__body
			p ビジネス英語で難しいSmall Talkを成功させる秘訣
	- }

