doctype html
html(lang="ja")
	head
		block meta
		block title
		link(rel="stylesheet" type="text/css" href="../../css/style.css")
	body
		header
			include ./_header.jade
		div#wrapper
			main
				block content


		footer
			include ./_footer.jade