div.topics-list
	a(href="http://www.rakuten.ne.jp/gold/rodeo-2nd/onepiece/")
		img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-22.jpg")
		p ONE PIECE とのコラボ特集
	a(href="http://www.rakuten.ne.jp/gold/rodeo-2nd/aloha/")
		img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-23.jpg")
		p ALOHA シャツ 特集
	a(href="http://www.rakuten.ne.jp/gold/rodeo-2nd/tedmantee/")
		img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-12.jpg")
		p Tedman Tシャツ 特集
	a(href="http://www.rakuten.ne.jp/gold/rodeo-2nd/kaminari/")
		img(src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-20.jpg")
		p Kaminari Tシャツ 特集
