//送料無料などアイコン画像
div.headerInfo
		ul
			li.col-sm-2
				a(target='_top' href='http://store.shopping.yahoo.co.jp/rodeobros/a4e8a4afa4.html#souryou')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-001.jpg')
			li.col-sm-2
				a(target='_top' href='http://store.shopping.yahoo.co.jp/rodeobros/a4e8a4afa4.html')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-002.jpg')
			li.col-sm-2
				a(target='_top' href='http://store.shopping.yahoo.co.jp/rodeobros/a4e8a4afa4.html')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-003.jpg')
			li.col-sm-2
				a(target='_top' href='http://store.shopping.yahoo.co.jp/rodeobros/a4e8a4afa4.html')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-004.jpg')
			li.col-sm-2
				a(target='_top' href='http://store.shopping.yahoo.co.jp/rodeobros/a5b9a5bfa52.html?n=50&X=99#CentItemList1')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-005.jpg')
			li.col-sm-2
				a(target='_top' href='mailto:rodeo@aun-wa.com')
					img(src='http://image.rakuten.co.jp/auc-rodeo/cabinet/top/nt/header-006.jpg')