@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
	font-size:12px;
  	letter-spacing:1px;
	 font-family: 'Noto Sans Japanese',Arial, Helvetica, sans-serif;
}

ul {
	list-style:none;	
}

h6 {
	margin:0.5em;	
	font-weight:300;
	font-size:1em;
	height:1.8em;
	overflow:hidden;
}

a{
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

img {
	width:100%;
}

p {
	margin:0.5em;
	font-weight:300;
	color:#000;	
	height:2em;
	overflow:hidden;
	font-size:1em;
}


.page-title {
	text-align:center;
	font-size:14px;
	font-weight:300;
}
.newarrival__wrapper{
	width:100%;
	max-width:1200px;
	margin: 0 auto;
}

.items {
	width:33.3333%;
	float:left;
	text-align:center;
	margin-bottom:3em;
}

img:hover {
	opacity:0.8;
}