<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="ja">
    <meta name="keywords" content="IRON HEART,アイアンハート,BUZZ RICKSON'S,バズリクソンズ,SUGAR CANE,シュガーケーン,MISTER FREEDOM,ミスターフリーダム,TEDMAN,テッドマン,KAMINARI,カミナリ,鬼デニム,ONI DENIM,VANSON,バンソン,アメカジ,セレクトショップ,メンズ,ファッション">
    <meta name="description" content="【全品送料無料】創業から40年の老舗セレクトショップ、ロデオブロス（RODEO BROS）">
    <title>RODEO BROS | 楽天店</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="shortcut icon" href="http://www.rakuten.ne.jp/gold/auc-rodeo/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1">
  </head>
  <body>
    <!--include jade/javascript/_javascript.jade-->
    <!--必要があればvendor内のスクリプトも追加-->
    <!--script(src="./js/some-function.js")-->
    <!--Goolge Tag から-->
    <!--Google Tag Manager-->
    <div>
      <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WZJ4JV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WZJ4JV');
      </script>
    </div>
    <!--ヘッダーここから-->
    <!--include ../../common/jade/header/_header-r.jade--><!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="ja">
        <meta name="keywords" content="IRON HEART,アイアンハート,BUZZ RICKSON'S,バズリクソンズ,SUGAR CANE,シュガーケーン,MISTER FREEDOM,ミスターフリーダム,TEDMAN,テッドマン,KAMINARI,カミナリ,鬼デニム,ONI DENIM,VANSON,バンソン,アメカジ,セレクトショップ,メンズ,ファッション">
        <meta name="description" content="【全品送料無料】創業から40年の老舗セレクトショップ、ロデオブロス（RODEO BROS）">
        <title>RODEO BROS | 楽天店</title>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="shortcut icon" href="http://www.rakuten.ne.jp/gold/auc-rodeo/images/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="initial-scale=1">
      </head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <body>
        <!--include jade/javascript/_javascript.jade-->
        <!--必要があればvendor内のスクリプトも追加-->
        <!--script(src="./js/some-function.js")-->
        <!--Goolge Tag から-->
        <!--Google Tag Manager-->
        <div>
          <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-WZJ4JV" height="0" width="0" style="display:none;visibility:hidden"></iframe>
          </noscript>
          <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WZJ4JV');
          </script>
        </div>
        <!--headerここから-->
        <div class="hidden-sp">
          <!--最上部黒いところ-->
          <div class="headerTop">
            <div class="headerTop__message col-sm-4">
              <p>店内全品送料無料+15時までのご注文は即日発送</p>
            </div>
            <div class="headerTop__nav col-sm-8">
              <ul class="list-inline text-right">
                <li><a target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/company/company000.html">COMPANY</a></li>
                <li><a target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/faq/">GUIDE</a></li>
                <li><a target="_top" href="http://review.rakuten.co.jp/shop/4/235529_235529/1.1/">REVIEW</a></li>
              </ul>
            </div>
          </div>
          <!--RODEO BROSロゴ-->
          <div class="headerLogo">
            <div class="logo text-center"><a target="_top" href="http://www.rakuten.ne.jp/gold/auc-rodeo/"><img alt="Rodeo Bros" src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/logo.png"></a></div>
          </div>
          <!--メニューバー-->
          <div class="headerMenu">
            <ul class="text-center">
              <li id="headerMenu__category" class="col-sm-3">
                <div class="right-border"><a href="http://www.rakuten.ne.jp/gold/auc-rodeo/categorylist/">CATEGORY</a></div>
              </li>
              <li id="headerMenu__brand" class="col-sm-3">
                <div class="right-border"><a href="http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist1/">BRAND</a></div>
              </li>
              <li id="headerMenu__topic" class="col-sm-3">
                <div class="right-border"><a href="http://www.rakuten.ne.jp/gold/auc-rodeo/backnumber/">NEW TOPICS</a></div>
              </li>
              <li class="col-sm-3">
                <div class="no-right-border">
                  <form accept-charset="euc-jp" method="get" action="http://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top">
                    <div class="input-group">
                      <input type="text" name="sitem" placeholder="検索する" class="form-control">
                      <input type="hidden" name="sv" value="6">
                      <input type="hidden" name="sid" value="235529">
                      <input type="hidden" name="su" value="auc-rodeo">
                      <input type="hidden" name="sn" value="ロデオブロスRODEO BROS">
                      <input type="hidden" name="f" value="A"><span class="input-group-btn">
                        <button type="submit" name="検索" onclick="org=document.charset; document.charset='EUC-JP'; document.sitem.submit(); document.sv.submit(); document.sid.submit(); document.su.submit(); document.sn.submit(); document.f.submit(); document.charset=org;" class="btn btn-default"><i class="fa fa-search"></i></button></span>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="hidden-pc">
          <div class="sp">
            <ul>
              <li id="js-sp-menu" class="sp__menu"><span class="fa fa-search"></span><span class="fa fa-times"></span></li>
              <li class="sp__logo"><a href=""><img src="http://www.rakuten.ne.jp/gold/auc-rodeo/images/logo-white.png"></a></li>
              <li class="sp__cart"><span class="fa fa-shopping-cart"></span></li>
            </ul>
          </div>
          <div class="menu__outerbox">
            <div class="menu">
              <ul class="menu__top">
                <li>
                  <form accept-charset="euc-jp" method="get" action="http://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" class="searchForm">
                    <div class="input-group">
                      <input type="text" name="sitem" placeholder="検索する" class="form-control">
                      <input type="hidden" name="sv" value="6">
                      <input type="hidden" name="sid" value="235529">
                      <input type="hidden" name="su" value="auc-rodeo">
                      <input type="hidden" name="sn" value="ロデオブロスRODEO BROS">
                      <input type="hidden" name="f" value="A"><span class="input-group-btn">
                        <button type="submit" name="検索" onclick="org=document.charset; document.charset='EUC-JP'; document.sitem.submit(); document.sv.submit(); document.sid.submit(); document.su.submit(); document.sn.submit(); document.f.submit(); document.charset=org;" class="btn btn-default">
                          <!--i.fa.fa-search--><img src="http://www.rakuten.ne.jp/gold/auc-rodeo/img/btn2.png">
                        </button></span>
                    </div>
                  </form>
                </li>
                <li><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000000630/">新着商品</a></li>
                <li><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000002630/">アウトレットセール</a></li>
                <li><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000000632/">トップス</a></li>
                <li><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000000633/">アウター</a></li>
                <li><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000000631/">ボトムス</a></li>
                <li><a href="http://item.rakuten.co.jp/auc-rodeo/c/0000000634/">アクセサリー</a></li>
                <li><a href="http://www.rakuten.ne.jp/gold/auc-rodeo/brandlist/brand-list.html">ブランド一覧へ</a></li>
                <li><a href="http://www.rakuten.ne.jp/gold/auc-rodeo/backnumber/">特集一覧へ</a></li>
                <li><a href="http://review.rakuten.co.jp/shop/4/235529_235529/1.1/">ユーザーレビュー</a></li>
                <li><a href="http://www.rakuten.ne.jp/gold/auc-rodeo/faq/">ショッピングガイド</a></li>
                <li><a href="rodeo@aun-wa.com">お問い合わせ</a></li>
                <li><a href="http://www.rakuten.ne.jp/gold/auc-rodeo/recruit/">採用情報</a></li>
              </ul>
              <ul class="menu__sns">
                <li><a href="http://www.rakuten.co.jp/auc-rodeo/news.html"><span class="fa fa-envelope"></span>メールマガジン</a></li>
                <li><a href="https://twitter.com/rodeobros"><span class="fa fa-twitter-square"></span>Twitter</a></li>
                <li><a href="https://www.facebook.com/Rodeobros"><span class="fa fa-facebook-official"></span>Facebook</a></li>
                <li><a href="https://www.instagram.com/rodeo_bros/"><span class="fa fa-instagram"></span>Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!--javascript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
          var spMenuHidden = true;
          var body = $(document.body);
          var menu = $( '.menu' );
          var navIcon = $( '.fa-search' );
          var closeIcon = $( '.fa-times' );
          
          closeIcon.css("display","none")
          
          $('#js-sp-menu').click(function() {
          
          	if(spMenuHidden) {
          
          		body.animate({'left' : "100%" }, 300);
          		menu.animate({'left' : 0 }, 300);
          		navIcon.css("display", "none");
          		closeIcon.css("display", "inline-block");
          		spMenuHidden = false;
          
          	} else {
          
          		body.animate({'left' : 0 }, 300);
          		menu.animate({'left' : "-100%" }, 300);
          		navIcon.css("display", "inline-block");
          		closeIcon.css("display", "none");
          		spMenuHidden = true;
          	}
          
          
          });
        </script>
      </body>
    </html>
    <!--外枠ここから-->
    <div id="wrapper">
      <!--レフトナビここから-->
      <!--include ../../common/jade/leftnav/_leftnav-r.jade-->
      <!--メインコンテンツここから-->
      <div id="main-without-leftnav" class="main-box">
        <div id="Vue" class="brandWrapper">
          <h2 class="brandList__index">MAIN BRAND</h2>
          <div v-for="element in MAIN" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">ア行</h2>
          <div v-for="element in A" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">カ行</h2>
          <div v-for="element in KA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">サ行</h2>
          <div v-for="element in SA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">タ行</h2>
          <div v-for="element in TA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">ナ行</h2>
          <div v-for="element in NA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">ハ行</h2>
          <div v-for="element in HA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">マ行</h2>
          <div v-for="element in MA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">ヤ行</h2>
          <div v-for="element in YA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">ラ行</h2>
          <div v-for="element in RA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
          <h2 class="brandList__index">ワ行</h2>
          <div v-for="element in WA" class="items text-center"><a href="{{ element.pageURLR }}" class="brand brandList__item">
              <div class="brand__inner">
                <div class="brand__header"><img src="{{ element.imageURL }}"></div>
                <div class="brand__body">
                  <p class="brand__nameEng">{{ element.eng }}</p>
                  <p class="brand__nameJa">{{ element.jp }}</p>
                </div>
              </div></a></div>
        </div>
        <!--/////////////////////////////////////////////////////////////////////////////////////////////////////-->
        
        <div style="position: fixed; top: 50px; left: 19.6094px;" class="brandList__nav">
          <ul>
            <li><a href="#a">MAIN BRAND</a></li>
            <li><a href="#b">ア行</a></li>
            <li><a href="#c">カ行</a></li>
            <li><a href="#d">サ行</a></li>
            <li><a href="#e">タ行</a></li>
            <li><a href="">ナ行</a></li>
            <li><a href="#g">ハ行</a></li>
            <li><a href="#h">マ行</a></li>
            <li><a href="#i">ヤ行</a></li>
            <li><a href="#j">ラ行</a></li>
            <li><a href="#k">ワ行</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--フッターここから-->
    <footer>
      <iframe src="http://www.rakuten.ne.jp/gold/auc-rodeo/TopPageAssets/footer.html" width="100%" height="400" scrolling="no" frameborder="1" style="border:none; display:block;"></iframe>
    </footer>
    <!--スクリプトここから-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.min.js"></script>
    <script>
      $(function () {
      var
      $brandNav = $('.brandList__nav'),
      $anchor = $('.wrap'),
      barHeight = 50,
      timer = null,
      offsetTop = $brandNav.offset().top;
      $(window).on('scroll', function () {
      // もし「ページ最上部からスクロールした位置」までの距離がナビゲーションのある位置を越えたら
      if ($(window).scrollTop() + barHeight > offsetTop) {
      fixNav();
      } else {
      clearNavStyle();
      }
      });
      $(window).on('resize', function () {
      // リサイズが終わった時だけ処理する
      if (timer) clearTimeout(timer);
      timer = setTimeout(function () {
      clearNavStyle();
      fixNav();
      }, 200);
      });
      // ページの途中を読み込んでもスクロールイベントを強制的に発火させる
      $('body').trigger('scroll');
      function fixNav () {
      var navOffsetleft = $brandNav.offset().left;
      $brandNav.css({
      position: 'fixed',
      top: barHeight,
      left: navOffsetleft
      });
      }
      function clearNavStyle() {
      $brandNav.css({
      position: 'absolute',
      top: '100',
      left: '0'
      });
      }
      });
      $('.brandList__nav a').on('click', function (ev) {
      // aリンクの標準動作をキャンセル
      ev.preventDefault();
      var $target = null;
      var offsetTop = null;
      var barHeight = 50;
      // 対象要素それぞれに対して処理を行う
      $('.brandList__index').each(function (idx, el) {
      	// ev.currentTargetはクリックされた要素
      	// elは現在処理中の要素
      	// $().text()はエレメントが内包するテキスト(例: <a>ここ<\\/a>)
      	if ($(ev.currentTarget).text() === $(el).text())
      		$target = $(el);
      		//- console.log($target);
      	});
      	// 「ページ最上部から要素までの距離」からバーの高さを引く
      	offsetTop = $target.offset().top;
      	// 250ミリ秒かけて指定の位置まで移動
      	$('html, body').animate({scrollTop: offsetTop}, 250);
      });
      
    </script>
    <script>
      new Vue({
      	el: '#Vue',
      
      	data: {
      		MAIN: [],
      		A:[],
      		KA:[],
      		SA:[],
      		TA:[],
      		NA:[],
      		HA:[],
      		MA:[],
      		YA:[],
      		RA:[],
      		WA:[]
      	},
      
      	created: function() {
      
      		var _this = this;
      		//get json file
      		$.ajax({
      			url: './json/data.json', //index.jadeに対してのURL
      			dataType: 'json'
      		}).done(function(data) {
      			var main = [];
      			var a = [];
      			var ka = [];
      			var sa = [];
      			var ta = [];
      			var na = [];
      			var ha = [];
      			var ma = [];
      			var ya = [];
      			var ra = [];
      			var wa = [];
      
      			data.forEach(function (el) {
      				if(el.row === "メインブランド") {
      					main.push(el);
      				} else if (el.row === "あ") {
      					a.push(el);
      				} else if (el.row === "か") {
      					ka.push(el);
      				} else if (el.row === "さ") {
      					sa.push(el);
      				} else if (el.row === "た") {
      					ta.push(el);
      				} else if (el.row === "な") {
      					na.push(el);
      				} else if (el.row === "は") {
      					ha.push(el);
      				} else if (el.row === "ま") {
      					ma.push(el);
      				} else if (el.row === "や") {
      					ya.push(el);
      				} else if (el.row === "ら") {
      					ra.push(el);
      				} else if (el.row === "わ") {
      					wa.push(el);
      				}
      
      			});
      
      			_this.MAIN = main;
      			_this.A = a;
      			_this.KA = ka;
      			_this.SA = sa;
      			_this.TA = ta;
      			_this.NA = na;
      			_this.HA = ha;
      			_this.MA = ma;
      			_this.YA = ya;
      			_this.RA = ra;
      			_this.WA = wa;
      
      
      		});
      
      	}
      });
      
    </script>
    <script>
      $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
      	if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      		var target = $(this.hash);
      		target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      		if (target.length) {
      			$('html, body').animate({
      				scrollTop: target.offset().top
      			}, 800);
      			return false;
      		}
      	}
      });
      
      $('#goToTop').click(function(){
      		window.scrollTo(0, 0);
      });
      
      });
    </script>
  </body>
</html>