include ../itemheader3/index.jade
	div#wrapper
		//レフトナビここから
		//include ../../common/jade/leftnav/_leftnav-y.jade

		//メインコンテンツここから
		div#main-without-leftnav.main-box
			include jade/_main-content.jade


	//フッターここから
	include ../../common/jade/footer/_footer-y.jade

	//スクリプトここから
	include jade/mainImage.jade
