@import '../../../common/scss/normalize';
@import '../../../common/scss/utility';
@import '../../../common/scss/base';

#header {
	margin: 0 auto;
}

#wrapper {
	margin: 0 auto;
}

.archive {

	border-bottom: 1px solid #ddd;

	&:last-child {
		border:none;
	}

	&:hover {
		background: #f7f8f7;
	}
}

.archive__date {
	color:#5b5b5b;
	line-height: 2;
}

.archive__title {
	font-size: 18px;
}
