@import '../../../common/scss/normalize';
@import '../../../common/scss/utility';
@import '../../../common/scss/base';

#header {
	margin: 0 auto;
}

#wrapper {
	margin: 0 auto;
}

h1 {
	margin-top: 50px;
}

h5 {
	padding: 10px;
}

.registor {
	color:blue;
	text-decoration: underline;
}

.outerbox {
	background-image:url('../img/figure_bg.png');	
	background-position: bottom;
	padding-bottom:26px;
	background-repeat:no-repeat;
	font-size:11px;
	text-align:center;
	opacity:1;
}

.outerbox:hover {
	opacity:0.85;	
}

.title {

	margin-top: -20px;
}

p {
	margin:0;
	margin-bottom:5px;	
}

a {
	color:#000;

	&:hover{
		color:#000;
		text-decoration: none;
	}
}

