.carousel
	a(href="https://snlweb.shopping.yahoo.co.jp/shp_snl/optin/index/rodeobros" title="メールマガジン登録")
		img.col-sm-12#js__carousel(src="./img/white.png" alt="メルマガ登録"
		src__pc = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-19.jpg"
		src__sp ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-1.jpg")
	ul.row.hidden-xs
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/souvenirjacket/" title="スカジャン特集")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_14.jpg" alt="スカジャン")
				p スカジャン特集
		li.col-sm-2
			a(href="http://review.store.shopping.yahoo.co.jp/rodeobros/store/review/" title="ユーザーレビュー")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_07.jpg" alt="ユーザーレビュー")
				p ユーザーレビュー
		li.col-sm-2 
			a(href="http://shopping.geocities.jp/rodeobros/rodeomap.html" title="SHOP INFORMATION")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_11.jpg" alt="SHOP INFORMATION")
				p SHOP INFORMATION
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/novelty/" title="オリジナルノベルティープレゼント")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_15.jpg" alt="オリジナルノベルティープレゼント")
				p オリジナルノベルティープレゼント
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/feature_page/alpha_boots.html" title="APLHAブーツ特集")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_09.jpg" alt="APLHAブーツ特集")
				p APLHAブーツ特集
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/recruit/" title="採用情報")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_12.jpg" alt="採用情報")
				p 採用情報
