.carousel
	a#js__carousel__link(href="#" title="ロデオブロス特集"
	href__sun = "https://snlweb.shopping.yahoo.co.jp/shp_snl/optin/index/rodeobros"
	title__sun = "メールマガジン登録"
	href__mon = "http://store.shopping.yahoo.co.jp/rodeobros/b5b4a5c7a5.html"
	title__mon = "鬼デニム"
	href__tue = "http://store.shopping.yahoo.co.jp/rodeobros/theflathea.html"
	title__tue = "フラットヘッド"
	href__wed = "http://store.shopping.yahoo.co.jp/rodeobros/ironheart2.html"
	title__wed = "アイアンハート"
	href__thu = "http://shopping.geocities.jp/rodeobros/souvenirjacket/"
	title__thu = "スカジャン"
	href__fri = "http://shopping.geocities.jp/rodeobros/tedmantee/"
	title__fri = "テッドマンT"
	href__sat = "http://store.shopping.yahoo.co.jp/rodeobros/a5a2a5a6a5.html"
	title__sat = "アウトレットセール")
		img.col-sm-12#js__carousel__image(src="./img/white.png" alt="メルマガ登録"

		src__pc__sun = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-19.jpg"
		src__sp__sun ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-1.jpg"

		src__pc__mon = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-17.jpg"
		src__sp__mon ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-2.jpg"

		src__pc__tue = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-15.jpg"
		src__sp__tue ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-3.jpg"

		src__pc__wed = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-14.jpg"
		src__sp__wed ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-4.jpg"

		src__pc__thu = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-13.jpg"
		src__sp__thu ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-5.jpg"

		src__pc__fri = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-31.jpg"
		src__sp__fri ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-7.jpg"

		src__pc__sat = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-27.jpg"
		src__sp__sat ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-6.jpg" )
	ul.row.hidden-xs
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/souvenirjacket/" title="スカジャン特集")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_14.jpg" alt="スカジャン")
				p スカジャン特集
		li.col-sm-2
			a(href="http://review.store.shopping.yahoo.co.jp/rodeobros/store/review/" title="ユーザーレビュー")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_07.jpg" alt="ユーザーレビュー")
				p ユーザーレビュー
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/rodeomap.html" title="SHOP INFORMATION")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_11.jpg" alt="SHOP INFORMATION")
				p SHOP INFORMATION
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/novelty/" title="オリジナルノベルティープレゼント")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_15.jpg" alt="オリジナルノベルティープレゼント")
				p オリジナルノベルティープレゼント
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/feature_page/alpha_boots.html" title="APLHAブーツ特集")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_09.jpg" alt="APLHAブーツ特集")
				p APLHAブーツ特集
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/recruit/" title="採用情報")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_12.jpg" alt="採用情報")
				p 採用情報
