.carousel
	a#js__carousel__link(href="#" title="ロデオブロス特集"
	href__sun = "http://store.shopping.yahoo.co.jp/rodeobros/auc-rodeo/onepiece/"
	title__sun = "ワンピース予約"
	href__mon = "http://store.shopping.yahoo.co.jp/rodeobros/auc-rodeo/aloha/"
	title__mon = "アロハシャツ"
	href__tue = "http://store.shopping.yahoo.co.jp/rodeobros/crowsa1dfw.html"
	title__tue = "クローズ"
	href__wed = "http://store.shopping.yahoo.co.jp/rodeobros/auc-rodeo/tedmantee/"
	title__wed = "テッドマン新作Tee"
	href__thu = "http://store.shopping.yahoo.co.jp/rodeobros/vanson28a5.html"
	title__thu = "VANSON"
	href__fri = "http://store.shopping.yahoo.co.jp/rodeobros/auc-rodeo/character/"
	title__fri = "キャラコラボ"
	href__sat = "http://item.rakuten.co.jp/auc-rodeo/c/0000002523/"
	title__sat = "alpha")
		img.col-sm-12#js__carousel__image(src="./img/white.png" alt="メルマガ登録"

		src__pc__sun = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-32.jpg"
		src__sp__sun ="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-22.jpg"

		src__pc__mon = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-36.jpg"
		src__sp__mon ="http://www.rakuten.ne.jp/gold/auc-rodeo/images/new-topics/topic-bn-23.jpg"

		src__pc__tue = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-33.jpg"
		src__sp__tue ="http://www.rakuten.ne.jp/gold/auc-rodeo/img/04.jpg"

		src__pc__wed = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-31.jpg"
		src__sp__wed ="http://www.rakuten.ne.jp/gold/auc-rodeo/sp/img/sptop-bn-7.jpg"

		src__pc__thu = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-35.jpg"
		src__sp__thu ="http://www.rakuten.ne.jp/gold/auc-rodeo/img/09.jpg"

		src__pc__fri = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-38.jpg"
		src__sp__fri ="http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-38.jpg"

		src__pc__sat = "http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-20.jpg"
		src__sp__sat ="http://www.rakuten.ne.jp/gold/auc-rodeo/images/header-carousel/top-bn-20.jpg" )
	ul.row.hidden-xs
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/souvenirjacket/" title="スカジャン特集")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_14.jpg" alt="スカジャン")
				p スカジャン特集
		li.col-sm-2
			a(href="http://review.store.shopping.yahoo.co.jp/rodeobros/store/review/" title="ユーザーレビュー")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_07.jpg" alt="ユーザーレビュー")
				p ユーザーレビュー
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/rodeomap.html" title="SHOP INFORMATION")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_11.jpg" alt="SHOP INFORMATION")
				p SHOP INFORMATION
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/novelty/" title="オリジナルノベルティープレゼント")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_15.jpg" alt="オリジナルノベルティープレゼント")
				p オリジナルノベルティープレゼント
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/feature_page/alpha_boots.html" title="APLHAブーツ特集")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_09.jpg" alt="APLHAブーツ特集")
				p APLHAブーツ特集
		li.col-sm-2
			a(href="http://shopping.geocities.jp/rodeobros/recruit/" title="採用情報")
				img.js__carousel-sub(src="http://www.rakuten.ne.jp/gold/auc-rodeo/items/img/160113/itempage_header_12.jpg" alt="採用情報")
				p 採用情報

	ul.row.middium-carousel
		li.col-sm-4
			a(href="http://store.shopping.yahoo.co.jp/rodeobros/search.html?p=%E5%88%A5%E6%B3%A8&%E6%A4%9C%E7%B4%A2=" title="東洋エンタープライズ")
				img.js__carousel-sub(src="./img/top-md-03.jpg" alt="東洋エンタープライズ")
				p 東洋エンタープライズ 商品一覧

		li.col-sm-4
			a(href="http://store.shopping.yahoo.co.jp/rodeobros/a5a8a5d5be.html" title="エフ商会商品一覧")
				img.js__carousel-sub(src="./img/top-md-02.jpg" alt="エフ商会商品一覧")
				p エフ商会商品一覧

		li.col-sm-4
			a(href="http://search.rakuten.co.jp/search/inshop-mall?f=1&v=2&sid=235529&uwd=1&s=1&p=1&sitem=%E5%88%A5%E6%B3%A8&st=A&nitem=&min=&max=" title="当店オリジナル別注商品")
				img.js__carousel-sub(src="./img/top-md-01.jpg" alt="当店オリジナル別注商品")
				p 当店オリジナル別注商品

