.topics
	h2.sectionTitle TOPICS
	div.topics__wrapper
		div.topics__main.col-sm-8
			a(href="http://shopping.geocities.jp/rodeobros/becchuu/" title="ロデオブロスオリジナル")
				img.lazy(data-original="http://www.rakuten.ne.jp/gold/auc-rodeo/img/topic-bn-01.jpg" src="./load1000x1000.gif" alt="ロデオブロス")
		div.topics__sub.col-sm-4
			div.topics__tops
				a(href="http://shopping.geocities.jp/rodeobros/tedmantee/" title="TEDMAN")
					img.lazy(data-original="http://www.rakuten.ne.jp/gold/auc-rodeo/img/topic-bn-02.jpg" src="./load1000x1000.gif" alt="TEDMAN")
					div.caption
						h3 ２０１６年 夏 TEDMAN Tシャツ
			div.topics__bottoms
				a(href="http://shopping.geocities.jp/rodeobros/vanson/" title="VANSON")
					img.lazy(data-original="http://www.rakuten.ne.jp/gold/auc-rodeo/img/topic-bn-03.jpg" src="./load1000x1000.gif" alt="VANSON")
					div.caption
						h3 ２０１６年 夏 バンソン おすすめ
	.text-center.col-sm-12
		a(href='http://shopping.geocities.jp/rodeobros/backnumber/')
			button.btn.btn-default 特集一覧へ


